{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">{% endblock extra_css %}
{% block custom %}
<main class="main">
    {% comment %} <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    	<div class="container">
    		<h1 class="page-title">My Account<span>Shop</span></h1>
    	</div><!-- End .container -->
    </div><!-- End .page-header --> {% endcomment %}
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                        <h4>Dashboard</h4>
                                        <div class="container-fluid">
                                            <div class="row m-0 p-0">
                                                <div class="col-lg-4 col-12 m-0 p-0">
                                                    <h6 class="m-0 p-0">Personal Profile<a href="#tab-account" class="tab-trigger-link ml-3">edit</a></h6>
                                                    <p class="m-0 p-0">{{user.first_name}} {{user.last_name}}</p>
                                                    <p class="user-email">{{user.email}}</p>
                                                </div>
                                                <div class="col-lg-8 col-12 m-0 p-0">
                                                    <h6 class="m-0 p-0 d-flex flex-fill">Address Book<a href="#tab-address" class="tab-trigger-link ml-3">edit</a></h6>
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <small>Default Shipping Address</small>
                                                                <p class="m-0 p-0">{{user.first_name}} {{user.last_name}}</p>
                                                                <p class="user-email">{{user.email}}</p>
                                                            </div>
                                                            <div class="col-6">
                                                                <small>Default Billing Address</small>
                                                                <p class="m-0 p-0">{{user.first_name}} {{user.last_name}}</p>
                                                                <p class="user-email">{{user.email}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 m-0 p-0">
                                                    <h6 class="m-0 p-0 d-flex flex-fill">Recent Orders<a href="#tab-orders" class="tab-trigger-link ml-3">edit</a></h6>
                                                    <table class="table table-cart">
                                                        <thead>
                                                            <tr>
                                                                <th>Product</th>
                                                                <th>Price</th>
                                                                <th>Quantity</th>
                                                                <th>Total</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>

                                                        <tbody id="cart-product">
                                                            {% for cart in mycart %}
                                                            <tr id="cart{{cart.id}}">
                                                                <td class="product-col">
                                                                    <div class="product">
                                                                        <figure class="product-media">
                                                                            <a href="#">
                                                                                <img src="{{cart.product.image}}" alt="Product image">
                                                                            </a>
                                                                        </figure>

                                                                        <h3 class="product-title">
                                                                            <a href="#">{{cart.product.title}}</a>
                                                                        </h3><!-- End .product-title -->
                                                                    </div><!-- End .product -->
                                                                </td>
                                                                <td class="price-col">&#2547;{{cart.product.price}}</td>
                                                                <td class="quantity-col">
                                                                    <div class="cart-product-quantity">
                                                                        <input type="number" id="cart-quantity" cart-id="{{cart.id}}" class="form-control amount" value="{{cart.quantity}}" min="1" max="{{cart.product.amount}}" step="1" data-decimals="0" required>
                                                                    </div><!-- End .cart-product-quantity -->
                                                                </td>
                                                                <td class="total-col">&#2547;{%widthratio cart.product.price 1 cart.quantity%}.00</td>
                                                                <td class="remove-col"><button class="btn-remove" onclick="CartDelete({{cart.id}})"><i class="icon-close"></i></button></td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table><!-- End .table table-wishlist -->
                                                </div>
                                            </div>
                                        </div>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
								    	<h4>Orders</h4>
                                        <table class="table table-cart table-mobile">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="cart-product">
                                                {% for cart in mycart %}
                                                <tr id="cart{{cart.id}}">
                                                    <td class="product-col">
                                                        <div class="product">
                                                            <figure class="product-media">
                                                                <a href="#">
                                                                    <img src="{{cart.product.image}}" alt="Product image">
                                                                </a>
                                                            </figure>
                                                            <h3 class="product-title">
                                                                <a href="#">{{cart.product.title}}</a>
                                                            </h3><!-- End .product-title -->
                                                        </div><!-- End .product -->
                                                    </td>
                                                    <td class="price-col">&#2547;{{cart.product.price}}</td>
                                                    <td class="quantity-col">
                                                        <div class="cart-product-quantity">
                                                            <input type="number" id="cart-quantity" cart-id="{{cart.id}}" class="form-control amount" value="{{cart.quantity}}" min="1" max="{{cart.product.amount}}" step="1" data-decimals="0" required>
                                                        </div><!-- End .cart-product-quantity -->
                                                    </td>
                                                    <td class="total-col">&#2547;{%widthratio cart.product.price 1 cart.quantity%}.00</td>
                                                    <td class="remove-col"><button class="btn-remove" onclick="CartDelete({{cart.id}})"><i class="icon-close"></i></button></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table><!-- End .table table-wishlist -->
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>CHECKOUT</span><i class="icon-long-arrow-right"></i></a>
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-up"></i></a>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
								    	<h4>Downloads</h4>
                                        <p>No downloads available yet.</p>
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<div class="d-flex flex-fill justify-content-between">
                                            <h4>Address Book</h4>
                                            <button class="btn btn-outline-warning add-address-btn"><i class="fa fa-plus"></i>New Address</button>
                                        </div>
                                        <table class="table address">
                                            <thead>
                                                <tr>
                                                    <th>Address Name</th>
                                                    <th>Address</th>
                                                    <th>Region</th>
                                                    <th>Phone Number</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Imran Hossain</td>
                                                    <td>Kaliakoir, Gazipur</td>
                                                    <td>Dhaka-Gazipur-Mouchak</td>
                                                    <td>01942504420</td>
                                                    <td>Default addess</td>
                                                    <td class="text-warning address-edit-btn">edit</td>
                                                </tr>
                                            </tbody>
                                        </table><!-- End .table table-wishlist -->

                                        <form action="#" class="d-none" id="address-edit-form">
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>Address Name *</label>
			                						<input type="text" class="form-control" required value="{{user.first_name}}">
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Phone *</label>
			                						<input type="text" class="form-control" required value="{{user.last_name}}">
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		            						{% comment %} <label>Display Name *</label>
		            						<input type="text" class="form-control" required>
		            						<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small> {% endcomment %}
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Region *</label>
                                                    <select class="form-control" name="" id="region">
                                                        {% for state in state %}
                                                            <option value="{{state.name}}">{{state.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label>City *</label>
                                                    <select class="form-control" name="" id="city" disabled>
                                                        <option value="">---</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label>Area *</label>
                                                    <select class="form-control" name="" id="area" disabled>
                                                        <option value="">---</option>
                                                    </select>
                                                </div>
                                            </div><!-- End .row -->

                                            <div class="row">
                                                <div class="col-12">
                                                    <label>Address *</label>
                                                    <input type="tel" class="form-control" required value="01942504420">
                                                </div>
                                            </div><!-- End .row -->

		                					<button type="submit" class="btn btn-outline-primary-2 mt-5 profile-submit-btn">
			                					<span>SAVE CHANGES</span>
			            						<i class="fa fa-long-arrow-right"></i>
			                				</button>
		                					<div class="btn btn-outline-primary-2 mt-5 profile-submit-btn address-cancel-btn">
			            						<i class="fa fa-times"></i>
                                                <span>Cancel</span>
                                            </div>
			                			</form>
                                        <form action="#" class="d-none" id="add-address-form">
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>Address Name *</label>
			                						<input type="text" class="form-control" required>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Phone *</label>
			                						<input type="text" class="form-control" required>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		            						{% comment %} <label>Display Name *</label>
		            						<input type="text" class="form-control" required>
		            						<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small> {% endcomment %}
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Region *</label>
                                                    <select class="form-control" name="" id="region">
                                                        {% for item in region %}
                                                            <option value="{{item.name}}">{{item.title}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label>City *</label>
                                                    <select class="form-control" name="" id="city" disabled>
                                                        <option value="">---</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label>Area *</label>
                                                    <select class="form-control" name="" id="area" disabled>
                                                        <option value="">---</option>
                                                    </select>
                                                </div>
                                            </div><!-- End .row -->

                                            <div class="row">
                                                <div class="col-12">
                                                    <label>Address *</label>
                                                    <input type="tel" class="form-control" required>
                                                </div>
                                            </div><!-- End .row -->

		                					<button type="submit" class="btn btn-outline-primary-2 mt-5 profile-submit-btn">
			                					<span>Save</span>
			            						<i class="fa fa-long-arrow-right"></i>
			                				</button>
		                					<div class="btn btn-outline-primary-2 mt-5 profile-submit-btn address-cancel-btn">
			            						<i class="fa fa-times"></i>
                                                <span>Cancel</span>
                                            </div>
			                			</form>

								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<h4>Account</h4>
                                        <form action="#" class="d-none address-edit">
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>First Name *</label>
			                						<input type="text" class="form-control" required value="{{user.first_name}}">
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Last Name *</label>
			                						<input type="text" class="form-control" required value="{{user.last_name}}">
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		            						{% comment %} <label>Display Name *</label>
		            						<input type="text" class="form-control" required>
		            						<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small> {% endcomment %}
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Email address *</label>
                                                    <input type="email" class="form-control" required value="{{user.email}}">
                                                </div>

                                                <div class="col-sm-6">
                                                    <label>Phone *</label>
                                                    <input type="tel" class="form-control" required value="01942504420">
                                                </div>
                                            </div><!-- End .row -->

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Birth Day</label>
		        							        <input type="date" class="form-control" required value="{{user.email}}">
                                                </div>

                                                <div class="col-sm-8">
                                                    <div class="d-flex flex-column">
                                                        <label>Gender</label>
                                                        <div class="d-flex flex-fill">
                                                            <div class="d-flex align-items-center">
                                                                <input type="radio" class="d-none" id="male" value="male" name="gender">
                                                                <label for="male"><span type="btn" class="btn btn-outline-warning male-btn active">Male</span></label>
                                                            </div>
                                                            <div class="d-flex align-items-center">
                                                                <input type="radio" class="d-none" id="female" value="female" name="gender">
                                                                <label for="female"><span type="btn" class="btn btn-outline-warning female-btn">Female</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- End .row -->

		                					<button type="submit" class="btn btn-outline-primary-2 mt-5 profile-submit-btn">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
                                        <div class="container-fluid address-view">
                                            <div class="row m-0 p-0">
                                                <div class="col-lg-4 col-12 m-0 p-0">
                                                    <h6 class="m-0 p-0">Name<span class="edit-btn"><i class="fa fa-pencil"></i></span></h6>
                                                    <p class="m-0 p-0">{{user.first_name}} {{user.last_name}}</p>
                                                </div>
                                                <div class="col-lg-4 col-12 m-0 p-0">
                                                    <h6 class="m-0 p-0">Email<span class="edit-btn"><i class="fa fa-pencil"></i></span></h6>
                                                    <p class="m-0 p-0">{{user.email}}</p>
                                                </div>
                                                <div class="col-lg-4 col-12 m-0 p-0">
                                                    <h6 class="m-0 p-0">Phone<span class="edit-btn"><i class="fa fa-pencil"></i></span></h6>
                                                    <p class="m-0 p-0">{{user.email}}</p>
                                                </div>
                                            </div>
                                        </div>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main>
{% endblock custom %}

{% block extra_js %}
    <script src="{% static 'assets/profile.js' %}"></script>
{% endblock extra_js %}