{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">
{% endblock extra_css %}
{% block title %}{{user.first_name}} {{user.last_name}}{% endblock title %}
{% block custom %}
<main class="main mt-3">

    <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true"><i class="fas fa-tachometer-alt pr-3"></i>Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false"><i class="fas fa-cart-arrow-down pr-3"></i>Orders</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false"><i class="fas fa-heart pr-3"></i>Wish List</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-reviews-link" data-toggle="tab" href="#tab-reviews" role="tab" aria-controls="tab-reviews" aria-selected="false"><i class="fas fa-comment-alt pr-3"></i>Reviews</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false"><i class="fas fa-map-marker-alt pr-3"></i>Adresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false"><i class="far fa-user-circle pr-3"></i>Account Details</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                        <h4>Dashboard</h4>
                                        <div class="container-fluid">
                                            <div class="row m-0 p-0">
                                                <div class="col-lg-4 col-12 m-0 p-0">
                                                    <h6 class="m-0 p-0">Personal Profile<a href="#tab-account" class="tab-trigger-link ml-3">edit</a></h6>
                                                    <p class="m-0 p-0">{{user.first_name}} {{user.last_name}}</p>
                                                    <p class="user-email">{{user.email}}</p>
                                                </div>
                                                <div class="col-lg-8 col-12 m-0 p-0">
                                                    <h6 class="m-0 p-0 d-flex flex-fill">Address Book<a href="#tab-address" class="tab-trigger-link ml-3">edit</a></h6>
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <small>Default Shipping Address</small>
                                                                {% for address in user.address_book.all %}
                                                                    {% if address.default %}
                                                                    <p class="m-0 p-0">{{address.country.name}}-{{address.region.name}}-{{address.city.name}}-{{address.area.name}}</p>
                                                                    <p class="user-email">{{address.address}}</p>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                            {% comment %} <div class="col-6">
                                                                <small>Default Billing Address</small>
                                                                <p class="m-0 p-0">{{user.first_name}} {{user.last_name}}</p>
                                                                <p class="user-email">{{user.email}}</p>
                                                            </div> {% endcomment %}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if orders|length > 0 %}
                                                <div class="col-12 m-0 p-0">
                                                    <h6 class="m-0 p-0 d-flex flex-fill">Recent Orders<a href="#tab-orders" class="tab-trigger-link ml-3">edit</a></h6>
                                                    <table class="table table-cart table-mobile">
                                                        <thead>
                                                            <tr>
                                                                <th><span class="font-weight-bolder text-black">Order ID</span></th>
                                                                <th><span class="font-weight-bolder text-black">Date</span></th>
                                                                <th><span class="font-weight-bolder text-black">Status</span></th>
                                                                <th><span class="font-weight-bolder text-black">Total</span></th>
                                                                <th><span class="font-weight-bolder text-black">Action</span></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for order in orders %}
                                                            {% if forloop.last %}
                                                            <tr>
                                                                <td>{{order.id}}</td>
                                                                <td>{{order.order_date|date}}</td>
                                                                <td>{{order.status}}</td>
                                                                <td>&#2547;{{order.total}}</td>
                                                                <td><a href="/invoice/{{order.id}}"><i class="fas fa-eye px-2"></i>View</a></td>
                                                            </tr>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table><!-- End .table table-wishlist -->
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
								    	<h4>Orders</h4>
                                        {% if orders|length > 0 %}
                                        <table class="table table-cart table-mobile">
                                            <thead>
                                                <tr>
                                                    <th><span class="font-weight-bolder text-black">Order ID</span></th>
                                                    <th><span class="font-weight-bolder text-black">Date</span></th>
                                                    <th><span class="font-weight-bolder text-black">Status</span></th>
                                                    <th><span class="font-weight-bolder text-black">Total</span></th>
                                                    <th><span class="font-weight-bolder text-black">Action</span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in orders %}
                                                <tr>
                                                    <td>{{order.id}}</td>
                                                    <td>{{order.order_date|date}}</td>
                                                    <td>{{order.status}}</td>
                                                    <td>&#2547;{{order.total}}</td>
                                                    <td><a href="/invoice/{{order.id}}"><i class="fas fa-eye px-2"></i>View</a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table><!-- End .table table-wishlist -->
                                        {% else %}
                                        <h6 class="empty-wishlist"><i class="fas fa-long-arrow-alt-right"></i> No order available yet.</h6>
                                        {% endif %}
								    	<a href="/" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-up"></i></a>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
								    	<h4>Wish List</h4>
                                        <h6 class="empty-wishlist {% if user.wishlist.all|length > 0 %}d-none{% endif %}"><i class="fas fa-long-arrow-alt-right"></i> No product available yet.</h6>
                                        <table class="table table-cart wishlist-table {% if user.wishlist.all|length == 0 %}d-none{% endif %}">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in user.wishlist.all %}
                                                <tr id="item{{item.id}}">
                                                    <td class="product-col">
                                                        <div class="product">
                                                            <figure class="product-media">
                                                                <a href="#">
                                                                    <img src="{{item.product.image}}" alt="Product image">
                                                                </a>
                                                            </figure>
                                                            <h3 class="product-title">
                                                                <a href="#">{{item.product.title}}</a>
                                                            </h3><!-- End .product-title -->
                                                        </div><!-- End .product -->
                                                    </td>
                                                    <td class="price-col">&#2547;{{item.product.price}}</td>
                                                    <td class="quantity-col">
                                                        <div class="cart-product-quantity text-success">{{item.product.amount}} item{% if item.product.amount > 1 %}s{% endif %} in stock</div><!-- End .cart-product-quantity -->
                                                    </td>
                                                    <td class="remove-col"><button class="btn-remove" onclick="WishItemDelete({{item.id}})"><i class="fas fa-trash text-danger"></i></button></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table><!-- End .table table-wishlist -->
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-reviews" role="tabpanel" aria-labelledby="tab-reviews-link">
								    	<h4>Reviews</h4>
                                        {% if user.user_review.all|length > 0 %}
                                        <table class="table table-cart review-table">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Date</th>
                                                    <th>Rating</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for review in user.user_review.all %}
                                                <tr>
                                                    <td class="product-col">
                                                        <div class="product">
                                                            <figure class="product-media">
                                                                <a href="#">
                                                                    <img src="{{review.product.image}}" alt="Product image">
                                                                </a>
                                                            </figure>
                                                            <h3 class="product-title">
                                                                <a href="/products/{{review.product.id}}">{{review.product.title}}</a>
                                                            </h3><!-- End .product-title -->
                                                        </div><!-- End .product -->
                                                    </td>
                                                    <td>{{review.add_on|date}}</td>
                                                    <td>
                                                        <div class="ratings-container mb-0">
                                                            <div class="ratings">
                                                                <div class="ratings-val" style="width: {{review.rating}}%;"></div><!-- End .ratings-val -->
                                                            </div><!-- End .ratings -->
                                                        </div><!-- End .rating-container -->
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table><!-- End .table table-wishlist -->
                                        {% else %}
                                        <h6 class="empty-wishlist"><i class="fas fa-long-arrow-alt-right"></i> No review available yet.</h6>
								    	{% endif %}
                                        <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<div class="d-flex flex-fill justify-content-between">
                                            <h4>Address Book</h4>
                                            <button class="btn btn-outline-warning add-address-btn"><i class="fa fa-plus"></i>New Address</button>
                                        </div>
                                        <table class="table address">
                                            <thead>
                                                <tr>
                                                    <th>Address Name</th>
                                                    <th>Region</th>
                                                    <th>Address</th>
                                                    <th>Phone Number</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for ab in address_book %}
                                                {% if not ab.temp %}
                                                <tr>
                                                    <td>{{ab.name}}</td>
                                                    <td>{{ab.country}}-{{ab.region}}-{{ab.city}}-{{ab.area}}</td>
                                                    <td>{{ab.address}}</td>
                                                    <td>{{ab.phone}}</td>
                                                    <td>{% if ab.default %}Default addess{% endif %}</td>
                                                    <td class="text-warning address-edit-btn" add-id="{{ab.id}}">edit</td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table><!-- End .table table-wishlist -->

                                        <form class="d-none" id="address-edit-form" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" id="edit-address-id">
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>Address Name *</label>
			                						<input type="text" name="name" id="edit-address-name" class="form-control" required value="{{user.first_name}}">
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Phone *</label>
			                						<input type="text" name="phone" id="edit-address-phone" class="form-control" required>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		            						{% comment %} <label>Display Name *</label>
		            						<input type="text" class="form-control" required>
		            						<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small> {% endcomment %}
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Country *</label>
                                                    <select class="form-control" name="country" id="edit-country">
                                                        <option value="null"></option>
                                                        {% for country in countrys %}
                                                            <option value="{{country.id}}">{{country.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label>Region *</label>
                                                    <select class="form-control" name="region" id="edit-region">
                                                        <option value=""></option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label>City *</label>
                                                    <select class="form-control" name="city" id="edit-city">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Area *</label>
                                                    <select class="form-control" name="area" id="edit-area">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label>Address *</label>
                                                    <input type="text" name="address" id="edit-address-address" class="form-control" required>
                                                </div>
                                            </div><!-- End .row -->

		                					<button type="submit" class="btn btn-outline-primary-2 mt-5 profile-submit-btn">
			                					<span>SAVE CHANGES</span>
			            						<i class="fa fa-long-arrow-right"></i>
			                				</button>
		                					<div class="btn btn-outline-primary-2 mt-5 profile-submit-btn address-cancel-btn">
			            						<i class="fa fa-times"></i>
                                                <span>Cancel</span>
                                            </div>
			                			</form>
                                        <form class="d-none" id="add-address-form" method="post">
                                            {% csrf_token %}
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>Address Name *</label>
			                						<input type="text" class="form-control" name="ab-name" required>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Phone *</label>
			                						<input type="text" class="form-control" name="ab-phone" required>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		            						{% comment %} <label>Display Name *</label>
		            						<input type="text" class="form-control" required>
		            						<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small> {% endcomment %}
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Country *</label>
                                                    <select class="form-control" name="ab-country" id="add-country">
                                                        <option value="null"></option>
                                                        {% for country in countrys %}
                                                            <option value="{{country.id}}">{{country.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label>Region *</label>
                                                    <select class="form-control" name="ab-region" id="add-region" disabled>
                                                        <option value=""></option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label>City *</label>
                                                    <select class="form-control" name="ab-city" id="add-city" disabled>
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Area *</label>
                                                    <select class="form-control" name="ab-area" id="add-area" disabled>
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label>Address *</label>
                                                    <input type="tel" class="form-control" name="ab-address" required>
                                                </div>
                                            </div><!-- End .row -->

                                            <div class="row">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" name="default" id="default">
                                                    <label class="custom-control-label" for="default">Default Address book</label>
                                                </div>
                                            </div>

		                					<button type="submit" class="btn btn-outline-primary-2 mt-5 profile-submit-btn">
			                					<span>Save</span>
			            						<i class="fa fa-long-arrow-right"></i>
			                				</button>
		                					<div class="btn btn-outline-primary-2 mt-5 profile-submit-btn address-cancel-btn">
			            						<i class="fa fa-times"></i>
                                                <span>Cancel</span>
                                            </div>
			                			</form>

								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<h4>Account</h4>
                                        <form class="d-none address-edit" method="post">
                                            {% csrf_token %}
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>First Name *</label>
			                						<input type="text" name="fname" class="form-control" required value="{{user.first_name}}">
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Last Name *</label>
			                						<input type="text" name="lname" class="form-control" required value="{{user.last_name}}">
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		            						{% comment %} <label>Display Name *</label>
		            						<input type="text" class="form-control" required>
		            						<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small> {% endcomment %}
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Email address *</label>
                                                    <input type="email" name="email" class="form-control" required value="{{user.email}}">
                                                </div>

                                                <div class="col-sm-6">
                                                    <label>Phone *</label>
                                                    <input type="text" name="phone" class="form-control" required value="{{user.profile_info.phone}}">
                                                </div>
                                            </div><!-- End .row -->

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Birth Day</label>
		        							        <input type="date" name="birthday" class="form-control" required value="{{user.profile_info.birthday|date:"Y-m-d"}}">
                                                </div>

                                                <div class="col-sm-8">
                                                    <div class="d-flex flex-column">
                                                        <label>Gender</label>
                                                        <div class="d-flex flex-fill">
                                                            <div class="d-flex align-items-center">
                                                                <input type="radio" class="d-none" id="male" value="male" name="gender" {% if user.profile_info.gender == 'male' %}checked{% endif %}>
                                                                <label for="male"><span type="btn" class="btn btn-outline-warning male-btn {% if user.profile_info.gender == 'male' %}active{% endif %}">Male</span></label>
                                                            </div>
                                                            <div class="d-flex align-items-center">
                                                                <input type="radio" class="d-none" id="female" value="female" name="gender" {% if user.profile_info.gender == 'female' %}checked{% endif %}>
                                                                <label for="female"><span type="btn" class="btn btn-outline-warning female-btn {% if user.profile_info.gender == 'female' %}active{% endif %}">Female</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- End .row -->

		                					<button type="submit" class="btn btn-outline-primary-2 mt-5 profile-submit-btn">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
                                        <div class="container-fluid address-view">
                                            <div class="row m-0 p-0">
                                                <div class="col-lg-4 col-12 m-0 p-0">
                                                    <h6 class="m-0 p-0">Name<span class="edit-btn"><i class="far fa-edit"></i></span></h6>
                                                    <p class="m-0 p-0">{{user.first_name}} {{user.last_name}}</p>
                                                </div>
                                                <div class="col-lg-4 col-12 m-0 p-0">
                                                    <h6 class="m-0 p-0">Email<span class="edit-btn"><i class="far fa-edit"></i></span></h6>
                                                    <p class="m-0 p-0">{{user.email}}</p>
                                                </div>
                                            </div>
                                        </div>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main>
{% endblock custom %}

{% block extra_js %}
    <script src="{% static 'assets/profile.js' %}"></script>

    <script type="text/javascript" src="{% static 'control/pnotify/dist/pnotify.js' %}"></script>
    <script type="text/javascript" src="{% static 'control/pnotify/dist/pnotify.desktop.js' %}"></script>
    <script type="text/javascript" src="{% static 'control/pnotify/dist/pnotify.buttons.js' %}"></script>
    <script type="text/javascript" src="{% static 'control/pnotify/dist/pnotify.confirm.js' %}"></script>
    <script type="text/javascript" src="{% static 'control/pnotify/dist/pnotify.callbacks.js' %}"></script>
    <script type="text/javascript" src="{% static 'control/pnotify/dist/pnotify.animate.js' %}"></script>
    <script type="text/javascript" src="{% static 'control/pnotify/dist/pnotify.history.js' %}"></script>
    <script type="text/javascript" src="{% static 'control/pnotify/dist/pnotify.mobile.js' %}"></script>
    <script type="text/javascript" src="{% static 'control/pnotify/dist/pnotify.nonblock.js' %}"></script>
    <script type="text/javascript" src="{% static 'control/pnotify/notify.js' %}"></script>
{% endblock extra_js %}