{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">{% endblock extra_css %}
{% block custom %}
<main class="main">
    {% comment %} <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    	<div class="container">
    		<h1 class="page-title">My Account<span>Shop</span></h1>
    	</div><!-- End .container -->
    </div><!-- End .page-header --> {% endcomment %}
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
</main>
{% endblock custom %}

{% block extra_js %}
    <script src="{% static 'assets/profile.js' %}"></script>
{% endblock extra_js %}