











<div class="main invoice mt-4">
  <div class="p-4">
    <div class="row p-3" id="invoice">
      <div class="col-12 d-flex justify-content-between">
        <div>
          <img class="p-0 m-0" src="G:\Project\Ecommerce App\EcomApp\media\settings\logo_ZDTeqke_oMLYBHw_peClPXM.png" style="max-width: 120px; height: auto;">
          <h6 class="bolden mt-2 mb-1">ShopNow</h6>
          <h6 class="my-2">12/3, house-3, Kaliakoir, Gazipur</h6>
          <h6 class="my-2">shopnow@gmail.com</h6>
          <h6 class="my-2">01942504420</h6>
        </div>
      </div>
      <div class="col-4 mt-5">
        <h5>Client Information:</h5>
        <h6 class="mb-0">Md Imran Hossain</h6>
        <p class="mb-0 pb-0">Barichara, Kaliakoir, Gazipur</p>
        <p style="margin-top: -5px;">Mouchak, Dhaka, Bangladesh</p>
        <p style="margin-top: -5px;">admin@gmail.com</p>
        <p style="margin-top: -5px;">01942504420</p>
      </div>
      <div class="col-4 mt-5">
        <h5>Order Information:</h5>
        <p class="m-0 p-0"><span class="h6">Date:</span> 23 Apr, 2022 | 11:29 PM</p>
        <p class="m-0 p-0"><span class="h6">Status:</span> processing</p>
        <p class="m-0 p-0"><span class="h6">ID:</span> #00007</p>
      </div>
      <div class="col-4 mt-5">
        <h5>Payment Information:</h5>
        
          <p class="m-0 p-0"><span class="h6">Payment Method:</span> Cash On</p>
          <p class="m-0 p-0"><span class="h6">Total Pay:</span> 0</p>
          <p class="m-0 p-0"><span class="h6">Total Due:</span> $1846.80</p>
        
      </div>
      <div class="col-12 mt-5">
        <table class="table no-border">
          <thead>
            <tr class="default">
              
              <th scope="col">Product</th>
              <th scope="col">Unit Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Line Total</th>
              <td></td>
            </tr>
          </thead>
          <tbody>
            
            <tr>
                
                <td>
					<h3 class="product-title">
						<p class="text-nowrap h5">iphone 13 pro maxs</p>
						<div class="d-flex flex-column mt-1">
							
								<span class="text-nowrap small">Color: #bce4eb</span>
							
							
								<span class="text-nowrap small">Size: 5</span>
							
							
								<span class="text-nowrap small">Storage: 128/16</span>
							
						</div>
					</h3><!-- End .product-title -->
				</td>
                <td>$2,052.00</td>
                <td>1</td>
                <td>$2,052.00</td>
                <td></td>
            </tr>
            
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="bolden pt-5">Subtotal</td>
              <td class="pt-5">$2,052.00</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="bolden">Free Shipping</td>
              <td>$0.0</td>
            </tr>
            
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="bolden">Coupon:</td>
                <td></td>
              </tr>
              
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><span class="pl-4">1. samsung20</span></td>
                  <td>-10</td>
                </tr>
              
            
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="h5 bolden">Total</td>
              <td>$1,846.80</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
