{% load static %} {% load solo_tags %} {% get_solo 'setting.SiteConfiguration' as site_config %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{site_config.favicon.url}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site_config.favicon.url}}">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'control/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'control/icon/font-awesome/css/font-awesome.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'control/fontawesome5/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'control/icon/bootstrap/bootstrap-icons.css' %}">
    <link
      rel="stylesheet"
      href="{% static 'control/icon/icofont/css/icofont.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'control/css/navigation-copy.css' %}"
    />
    {% block style %}{% endblock style %}
  </head>
  <body>
    <nav class="top-nav d-flex justify-content-between" id="topnav">
      <div class="left d-flex align-items-center">
        <span class="px-2" id="menu-btn"><i class="fa fa-bars"></i></span>
        <div class="px-2">
          <a href="/control"><img class="logo" src="{{site_config.logo.url}}" alt="logo" /></a>
        </div>
      </div>
      <div class="right d-flex align-items-center notification-drop">
        <span class="px-2 notification">
          <i class="fa fa-bell"></i>
          <div class="notification-sec bg-success">
            This is notification section
          </div>
        </span>
        <span class="px-2 message"><i class="fas fa-comment-dots"></i></span>
        <span class="px-2 profile"
          ><i class="far fa-user fa-lg me-3"></i>
          <div class="profile-sec bg-white">
            <ul>
              <li class="py-2"><a class="text-decoration-none d-flex flex-fill align-items-center" href="/control/user/{{user.id}}"><i class="far fa-user px-3"></i>{{user.first_name}}{% if user.is_superuser %} (Admin){% endif %}</a></li>
              <li class="py-2"><a class="text-decoration-none d-flex flex-fill align-items-center" href=""><i class="fas fa-cogs px-3"></i>Settings</a></li>
              <li class="py-2"><a class="text-decoration-none d-flex flex-fill align-items-center" href="/"><i class="fas fa-desktop px-3"></i>Visit Site</a></li>
              <li class="py-2"><a class="text-decoration-none d-flex flex-fill align-items-center" href="/auth/logout"><i class="far fa-share-square px-3"></i>Logout</a></li>
            </ul>
          </div>
        </span>
      </div>
    </nav>

    <div>
      <div class="sidenav" id="sidenav">
        <ul>
          <li>
            <a href="/control/">
              <div class="menu dashboard {% if dashboard_sec %}selected active{% endif %}">
                <i class="fas fa-tachometer-alt fa-left"></i>
                <span>Dashboard</span>
              </div>
            </a>
          </li>
          <li>
            <div class="menu {% if product_sec %}selected active{% endif %}">
              <i class="fas fa-cube fa-left"></i>
              <span>Products</span>
              <span class="arrow"><i class="fa fa-angle-right"></i></span>
            </div>
            <ul class="submenu">
              <li class="product {% if all_product_sec or edit_product_sec %}selected{% endif %}"><a href="/control/product" class="d-flex flex-fill">Product</a></li>
              <li class="category {% if category_sec %}selected{% endif %}"><a href="/control/category" class="d-flex flex-fill">Category</a></li>
            </ul>
          </li>
          <li>
            <div class="menu">
              <i class="fas fa-dollar-sign fa-left"></i>
              <span>Sales</span>
              <span class="arrow"><i class="fa fa-angle-right"></i></span>
            </div>
            <ul class="submenu">
              <li><a href="" class="d-flex flex-fill">Orders</a></li>
              <li><a href="" class="d-flex flex-fill">Transections</a></li>
            </ul>
          </li>
          <li>
            <a href="/control/coupon">
              <div class="menu coupon {% if coupon_sec %}selected active{% endif %}">
                <i class="fas fa-tags fa-left"></i>
                <span>Coupons</span>
              </div>
            </a>
          </li>
          <li>
            <div class="menu">
              <i class="fas fa-file-alt fa-left"></i>
              <span>Pages</span>
            </div>
          </li>
          <li>
            <div class="menu">
              <i class="fas fa-camera fa-left"></i>
              <span>Media</span>
            </div>
          </li>
          <li>
            <a href="/control/menu">
              <div class="menu menus {% if menu_sec %}selected active{% endif %}">
                <i class="fa fa-bars fa-left"></i>
                <span>Menus</span>
              </div>
            </a>
          </li>
          <li class="text-center py-2 header">System</li>
          {% comment %} <li>
            <div class="menu">
              <i class="fa fa-users fa-left"></i>
              <span>Users</span>
              <span class="arrow"><i class="fa fa-angle-right"></i></span>
            </div>
            <ul class="submenu">
              <li><a href="">User</a></li>
              <li><a href="">Profile</a></li>
            </ul>
          </li> {% endcomment %}
          <li>
            <a href="/control/user">
              <div class="menu users {% if user_sec %}selected active{% endif %}">
                <i class="fas fa-users fa-left"></i>
                <span>Users</span>
              </div>
            </a>
          </li>
          <li>
            <div class="menu">
              <i class="fa fa-globe fa-left"></i>
              <span>Localization</span>
              <span class="arrow"><i class="fa fa-angle-right"></i></span>
            </div>
            <ul class="submenu">
              <li><a href="" class="d-flex flex-fill">User</a></li>
              <li><a href="" class="d-flex flex-fill">group</a></li>
            </ul>
          </li>
          <li>
            <div class="menu">
              <i class="fa fa-paint-brush fa-left"></i>
              <span>Appearance</span>
              <span class="arrow"><i class="fa fa-angle-right"></i></span>
            </div>
            <ul class="submenu">
              <li><a href="" class="d-flex flex-fill">User</a></li>
              <li><a href="" class="d-flex flex-fill">group</a></li>
            </ul>
          </li>
          <li>
            <div class="menu">
              <i class="fa fa-bar-chart-o fa-left"></i>
              <span>Reports</span>
            </div>
          </li>
          <li>
            <a href="/control/settings/">
              <div class="menu setting {% if setting_sec %}selected active{% endif %}">
                <i class="fa fa-cogs fa-left"></i>
                <span>Settings</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="main mx-3 mt-3">
        {% block main %}{% endblock main %}
        <div class="copyright d-flex flex-fill justify-content-between">
          <span>Copyright <span class="fw-bold">©</span> <span class="current-year"></span> <a href="/" class="text-decoration-none">{{site_config.name}}</a></span>
        </div>
      </div>
    </div>

    <script src="{% static 'control/js/jquery.min.js' %}"></script>
    <script src="{% static 'control/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'control/js/sidenav.js' %}"></script>
    {% block script %}{% endblock script %}
    <script src="{% static 'control/js/main.js' %}"></script>
  </body>
</html>
