{% extends 'control/base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}{{site_config.name}} | Coupons{% endblock title %}
  {% block style %}
    <link
      rel="stylesheet"
      href="{% static 'control/css/table/dataTables.bootstrap4.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'control/css/table/responsive.bootstrap4.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'control/virtual-select/virtual-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/bootstrap-table.min.css' %}" />
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.css' %}">
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.css' %}">
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.css' %}">
    <link rel="stylesheet" href="{% static 'control/jquery.filer/css/jquery.filer.css' %}" />
    <link rel="stylesheet" href="{% static 'control/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'control/datedropper/datedropper.min.css' %}" />
    {% endblock style %}

    {% block main %}
        <div class="d-flex flex-fill justify-content-between align-items-center">
          <h3 class="fw-bold">Coupons</h3>
        </div>
        <div class="card coupon-list">
          <div class="card-header">
            <h5>All Coupons</h5>
            <div class="card-header-right me-3">
              <button class="btn btn-add add-coupon-btn p-2">
                <i class="fa fa-plus px-2 m-0"></i>Add Coupon
              </button>
            </div>
          </div>
          <div class="card-block">
            <div class="dt-responsive table-responsive">
              <div id="toolbar">
                <button id="remove" class="btn btn-danger coupon-remove" disabled>
                  <i class="fa fa-trash"></i> Delete
                </button>
                <input type="hidden" id="selected-coupon">
              </div>
              <table
              id="coupon-table"
              data-toolbar="#toolbar"
              data-toggle="table"
              data-sticky-header="true"
              data-sticky-header-offset-y="40"
              data-pagination="true"
              data-page-list="[10, 25, 50, 100, ALL]"
              data-search="true"
              data-search-highlight="true"
              data-filter-control="true"
              data-fixed-columns="true"
              data-fixed-number="1"
              {% comment %} data-detail-view="true" {% endcomment %}
              {% comment %} data-sticky-header = "true" {% endcomment %}
              data-checkbox = "true"
              class="table table-bordered no-border nowrap"
              >
                <thead>
                  <tr>
                    <th data-checkbox="true" ></th>
                    <th data-visible="false" ></th>
                    <th data-sortable="true" data-valign="middle">Name</th>
                    <th data-sortable="true" data-valign="middle">Value</th>
                    <th data-sortable="true" data-valign="middle">Free Shipping</th>
                    <th data-sortable="true" data-valign="middle">Active</th>
                  </tr>
                </thead>
                <tbody>
                  {% for coupon in coupons %}
                  <tr>
                    <td data-checkbox-enabled="false"></td>
                    <td >{{coupon.id}}</th>
                    <td class="fw-bold"><a class="text-decoration-none" href="/control/coupon/{{coupon.id}}">{{coupon.name}}</a></td>
                    <td>{{coupon.value}}{% if coupon.discount_type == "Percent" %}%{% endif %}</td>
                    <td class="ps-5">{% if coupon.free_shipping %}<i class="icofont icofont-ui-check text-success"></i>{% else %}<i class="icofont icofont-ui-close text-danger"></i>{% endif %}</td>
                    <td class="ps-4">{% if coupon.active %}<i class="icofont icofont-ui-check text-success"></i>{% else %}<i class="icofont icofont-ui-close text-danger"></i>{% endif %}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="add-coupon-sec d-none card">
          <div class="container-fluid">
            <div class="row m-2 p-3 bg-white">
              <div class="product-menu col-xl-3 col-lg-4">
                <div class="menu-sec">
                  <div
                    class="menu d-flex flex-fill justify-content-between selected"
                  >
                    <span>Coupon Menu</span>
                  </div>
                  <ul class="submenu">
                    <li class="selected" for="coupon-general">
                      <p class="m-0 p-0">General</p>
                    </li>
                    <li for="coupon-usage-restriction">
                      <p class="m-0 p-0">Usage Restrictions</p>
                    </li>
                    <li for="coupon-usage-limit">
                      <p class="m-0 p-0 coupon-usage-limit">Usage Limits</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="products-form col-xl-9 col-lg-8 ps-lg-5">
                <form class="mt-2" id="add-category-form" method="post">
                  {% csrf_token %}
                  <div id="coupon-general" class="product-form">
                    <h6 class="mt-2 text-primary fw-bolder h4">General</h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Name*</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                          placeholder="Name"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Code*</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          name='code'
                          placeholder="Coupon Code"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Discount Type</label
                      >
                      <div class="col-sm-10">
                        <select id="discount-type" name="discount-type">
                          <option value="Percent">Percentage</option>
                          <option value="Fixed">Fixed</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Value*</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="number"
                          class="form-control"
                          name="quantity"
                        />
                      </div>
                    </div>
                    <div class="row mb-1">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Free Shipping</label
                      >
                      <div class="col-sm-10">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="enable" type="checkbox" name="free-shipping"/>
                            <span class="cr">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                            </span>
                            <span>Allow free shipping</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Date Range</label
                      >
                      <div class="col-sm-5">
                        <input
                          id="coupon-start"
                          class="form-control"
                          type="text"
                          name="start-date"
                          placeholder="Start Date"
                        />
                      </div>
                      <div class="col-sm-5">
                        <input
                          id="coupon-end"
                          class="form-control"
                          type="text"
                          name="end-date"
                          placeholder="End Date"
                        />
                      </div>
                      <div class="row mb-1">
                        <label
                          for="inputEmail3"
                          class="col-sm-2 col-form-label d-none d-xl-block"
                          >Status</label
                        >
                        <div class="col-sm-10">
                          <div class="checkbox-fade fade-in-primary">
                            <label>
                              <input id="enable" name="active" type="checkbox" checked/>
                              <span class="cr">
                                <i
                                  class="
                                    cr-icon
                                    icofont icofont-ui-check
                                    txt-primary
                                  "
                                ></i>
                              </span>
                              <span>Active coupon</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <button
                          id="cancel-btn"
                          type="submit"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                  <div id="coupon-usage-restriction" class="product-form d-none">
                    <h6 class="mt-2 text-primary fw-bolder h4">
                      Usage Restrictions
                    </h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Minimum Spend</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="number"
                          class="form-control"
                          id="name"
                          name="min-spend"
                          placeholder="Minimum Spend"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Maximum Spend</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="number"
                          class="form-control"
                          id="name"
                          name="max-spend"
                          placeholder="Maximum Spend"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Products</label
                      >
                      <div class="col-sm-10">
                        <select multiple id="products-select" name="products" placeholder="Select Products">
                          {% for product in products %}
                          <option value="{{product.id}}">{{product.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Exclude Products</label
                      >
                      <div class="col-sm-10">
                        <select
                          multiple
                          id="exclude-products-select"
                          name="exclude-products"
                          placeholder="Select Products"
                        >
                          {% for product in products %}
                          <option value="{{product.id}}">{{product.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Categories</label
                      >
                      <div class="col-sm-10">
                        <select
                          multiple
                          id="categories-select"
                          name="categories"
                          placeholder="Select Categories"
                        >
                          {% for category in categories %}
                          <option value="{{category.id}}">{{category.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Exclude Categories</label
                      >
                      <div class="col-sm-10">
                        <select
                          multiple
                          id="exclude-categories-select"
                          name="exclide-categories"
                          placeholder="Select Categories"
                        >
                          {% for category in categories %}
                          <option value="{{category.id}}">{{category.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <button
                          id="cancel-btn"
                          type="submit"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                  <div id="coupon-usage-limit" class="product-form d-none">
                    <h6 class="mt-2 text-primary fw-bolder h4">Usage Limits</h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Usage Limit Per Coupon</label
                      >
                      <div class="col-sm-10">
                        <input type="number" class="form-control" name="limit-per-coupon" />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Usage Limit Per Customer</label
                      >
                      <div class="col-sm-10">
                        <input type="number" class="form-control" name="limit-per-customer" />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <button
                          id="cancel-btn"
                          type="submit"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    {% endblock main %}

    {% block script %}
    <script src="{% static 'control/js/table/jquery.dataTables.min.js' %}"></script>
    {% comment %} <script src="{% static 'control/js/table/dataTables.buttons.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'control/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/export/bootstrap-table-export.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/toolbar/bootstrap-table-toolbar.js' %}"></script>
    <script src="{% static 'control/tableexport/tableExport.min.js' %}"></script>
    <script src="{% static 'control/virtual-select/virtual-select.min.js' %}"></script>
    <script src="{% static 'control/datedropper/datedropper.min.js' %}"></script>
    <script src="{% static 'control/js/custom-picker.js' %}"></script>
    {% endblock script %}
