{% extends 'control/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}{{site_config.name}} | Users{% endblock title %}

    {% block style %}
    <link
      rel="stylesheet"
      href="{% static 'control/css/table/dataTables.bootstrap4.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'control/css/table/responsive.bootstrap4.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'control/virtual-select/virtual-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/bootstrap-table.min.css' %}" />
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.css' %}">
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.css' %}">
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.css' %}">
    <link rel="stylesheet" href="{% static 'control/css/style.css' %}" />
    {% endblock style %}

    {% block main %}
      {% if currency %}
        <h4 class="fw-bold mb-2">{{currency.name}}</h4>
      {% else %}
        <h3 class="fw-bold">Currencys</h3>
      {% endif %}
      {% if currencies %}
      <div class="card user-list">
          <div class="card-header">
            <h5>All Currency</h5>
          </div>
          <div class="card-block">
            <div class="dt-responsive table-responsive">
              <table
              id="page-table"
              data-toggle="table"
              data-sticky-header="true"
              data-sticky-header-offset-y="40"
              data-pagination="true"
              data-page-list="[10, 25, 50, 100, ALL]"
              data-search="true"
              data-search-highlight="true"
              data-fixed-columns="true"
              data-fixed-number="1"
              class="table table-bordered no-border nowrap"
              >
                <thead>
                  <tr>
                    <th data-sortable="true" data-valign="middle">Name</th>
                    <th data-sortable="true" data-valign="middle">Default</th>
                    <th data-sortable="true" data-valign="middle">Code</th>
                    <th data-sortable="true" data-valign="middle">Rate</th>
                  </tr>
                </thead>
                <tbody>
                  {% for currency in currencies %}
                  {% DefaultCurrency as defaultcurrency %}
                  <tr>
                    <td class="fw-bold product-title"><a class="text-decoration-none" href="/control/currency/{{currency.id}}">{{currency.name}}</a></td>
                    <td>{% if currency.code == defaultcurrency %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                    <td>{{currency.code}}</td>
                    <td>{{currency.rate}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                {% comment %} <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>{{product.status}}</th>
                    <th>Amount</th>
                    <th>Created</th>
                  </tr>
                </tfoot> {% endcomment %}
              </table>
            </div>
          </div>
      </div>
      {% endif %}
      <div class="add-currency-sec {% if currencies %}d-none{% endif %} card">
          <div class="container-fluid">
            <div class="row m-2 p-3 bg-white">
              <div class="product-menu col-xl-3 col-lg-4">
                <div class="menu-sec">
                  <div
                    class="menu disable d-flex flex-fill justify-content-between selected"
                  >
                    <span>Currency Information</span>
                    {% comment %} <span class="arrow"><i class="fa fa-angle-right"></i></span> {% endcomment %}
                  </div>
                  <ul class="submenu">
                    <li class="selected" for="currency-general">
                      <p class="m-0 p-0">General</p>
                    </li>
                    {% comment %} <li for="coupon-usage-restriction">
                      <p class="m-0 p-0">SEO</p>
                    </li> {% endcomment %}
                  </ul>
                </div>
              </div>
              <div class="currency-form col-xl-9 col-lg-8 ps-lg-5" id="currency-form" >
                <form class="mt-2 needs-validation" method="post" novalidate>
                  {% csrf_token %}
                  <div id="currency-general" class="product-form">
                    <h6 class="mt-2 text-primary fw-bolder h4">General</h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="name"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Name</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                          placeholder="Name"
                          value="{{currency.name}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter currency name</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="name_plural"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Name Plural</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="name_plural"
                          name="name_plural"
                          placeholder="Name Plural"
                          value="{{currency.name_plural}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter currency name plural</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="code"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Name</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="code"
                          name="code"
                          placeholder="Code"
                          value="{{currency.code}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter currency code</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="symbol"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Symbol</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="symbol"
                          name="symbol"
                          placeholder="Symbol"
                          value="{{currency.symbol}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter currency symbol</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="symbol_native"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Symbol Native</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="symbol_native"
                          name="symbol_native"
                          placeholder="Symbol Native"
                          value="{{currency.symbol_native}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter currency symbol native</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="rate"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Rate</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="rate"
                          name="rate"
                          placeholder="Rate"
                          value="{{currency.rate}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter currency rate</div>
                      </div>
                    </div>
                    <div class="row mb-3 mt-3">
                      <div class="col-sm-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <button
                          id="cancel-btn"
                          type="submit"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                  {% comment %} <div id="coupon-usage-restriction" class="product-form d-none">
                    <h6 class="mt-2 text-primary fw-bolder h4">
                      SEO
                    </h6>
                    <hr />
                    <div class="row mb-3">
                      <label
                        for="name"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Meta Title</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Name"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="name"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Meta Description</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Name"
                        />
                      </div>
                    </div>
                  </div> {% endcomment %}
                </form>
              </div>
            </div>
          </div>
        </div>
    {% endblock main %}

    {% block script %}
    <script src="{% static 'control/js/table/jquery.dataTables.min.js' %}"></script>
    {% comment %} <script src="{% static 'control/js/table/dataTables.buttons.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'control/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/export/bootstrap-table-export.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/toolbar/bootstrap-table-toolbar.js' %}"></script>
    <script src="{% static 'control/tableexport/tableExport.min.js' %}"></script>
    <script src="{% static 'control/virtual-select/virtual-select.min.js' %}"></script>
    <script src="{% static 'control/ckeditor/build/ckeditor.js' %}"></script>
    <script src="{% static 'control/ckeditor/build/style.js' %}"></script>
    {% endblock script %}