{% extends 'control/base.html' %}
{% load static %}
{% block title %}{{coupon.name}}{% endblock title %}
  {% block style %}
    <link rel="stylesheet" href="{% static 'control/virtual-select/virtual-select.min.css' %}" />>
    <link rel="stylesheet" href="{% static 'control/jquery.filer/css/jquery.filer.css' %}" />
    <link rel="stylesheet" href="{% static 'control/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'control/datedropper/datedropper.min.css' %}" />
    {% endblock style %}

    {% block main %}
        <h3 class="fw-bold">{{coupon.name}}</h3>
        <div class="edit-coupon-sec card">
          <div class="container-fluid">
            <div class="row m-2 p-3 bg-white">
              <div class="product-menu col-xl-3 col-lg-4">
                <div class="menu-sec">
                  <div
                    class="menu d-flex flex-fill justify-content-between selected"
                  >
                    <span>Coupon Menu</span
                    >
                  </div>
                  <ul class="submenu">
                    <li class="selected" for="coupon-general">
                      <p class="m-0 p-0">General</p>
                    </li>
                    <li for="coupon-usage-restriction">
                      <p class="m-0 p-0">Usage Restrictions</p>
                    </li>
                    <li for="coupon-usage-limit">
                      <p class="m-0 p-0 coupon-usage-limit">Usage Limits</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="products-form col-xl-9 col-lg-8 ps-lg-5">
                <form class="mt-2" id="add-category-form" method="post">
                  {% csrf_token %}
                  <div id="coupon-general" class="product-form">
                    <h6 class="mt-2 text-primary fw-bolder h4">General</h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Name*</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                          placeholder="Name"
                          value="{{coupon.name}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Code*</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          name="code"
                          placeholder="Coupon Code"
                          value="{{coupon.code}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Discount Type</label
                      >
                      <div class="col-sm-10">
                        <select id="discount-type" name="discount-type">
                          <option value="Percent" {% if coupon.discount_type == "Percent" %}selected{% endif %}>Percentage</option>
                          <option value="Fixed" {% if coupon.discount_type == "Fixed" %}selected{% endif %}>Fixed</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Value*</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="number"
                          class="form-control"
                          name="quantity"
                          value="{{coupon.value}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-1">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Free Shipping</label
                      >
                      <div class="col-sm-10">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="enable" type="checkbox" name="free-shipping" {% if coupon.free_shipping %}checked{% endif %} />
                            <span class="cr">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                            </span>
                            <span>Allow free shipping</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Date Range</label
                      >
                      <div class="col-sm-5">
                        <input
                          id="coupon-start"
                          class="form-control"
                          type="text"
                          placeholder="Start Date"
                          name="start-date"
                          value="{{coupon.start_date|date:"Y-m-d"}}"
                        />
                      </div>
                      <div class="col-sm-5">
                        <input
                          id="coupon-end"
                          class="form-control"
                          type="text"
                          placeholder="End Date"
                          name="end-date"
                          value="{{coupon.end_date|date:"Y-m-d"}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-1">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Status</label
                      >
                      <div class="col-sm-10">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="enable" name="active" type="checkbox" {% if coupon.active %}checked{% endif %} />
                            <span class="cr">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                            </span>
                            <span>Active coupon</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <button
                          id="cancel-btn"
                          type="submit"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                  <div id="coupon-usage-restriction" class="product-form d-none">
                    <h6 class="mt-2 text-primary fw-bolder h4">
                      Usage Restrictions
                    </h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Minimum Spend</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="number"
                          class="form-control"
                          id="name"
                          name="min-spend"
                          placeholder="Minimum Spend"
                          value="{{coupon.min_spend}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Maximum Spend</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="number"
                          class="form-control"
                          id="name"
                          name="max-spend"
                          placeholder="Maximum Spend"
                          value="{{coupon.max_spend}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Products</label
                      >
                      <div class="col-sm-10">
                        <select
                          multiple
                          id="products-select"
                          name="products"
                          placeholder="Select Products"
                        >
                        {% for product in products %}
                          <option value="{{product.title}}" {% if product in coupon.products.all %}selected{% endif %}>{{product.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Exclude Products</label
                      >
                      <div class="col-sm-10">
                        <select
                          multiple
                          id="exclude-products-select"
                          name="exclude-products"
                          placeholder="Select Products"
                        >
                          {% for product in products %}
                          <option value="{{product.title}}" {% if product in coupon.exclude_products.all %}selected{% endif %}>{{product.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Categories</label
                      >
                      <div class="col-sm-10">
                        <select
                          multiple
                          id="categories-select"
                          name="categories"
                          placeholder="Select Categories"
                        >
                          {% for category in categorys %}
                          <option value="{{category.name}}" {% if category in coupon.categories.all %}selected{% endif %}>{{category.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Exclude Categories</label
                      >
                      <div class="col-sm-10">
                        <select
                          multiple
                          id="exclude-categories-select"
                          name="exclide-categories"
                          placeholder="Select Categories"
                        >
                          {% for category in categorys %}
                          <option value="{{category.name}}" {% if category in coupon.exclude_categories.all %}selected{% endif %}>{{category.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <button
                          id="cancel-btn"
                          type="submit"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                  <div id="coupon-usage-limit" class="product-form d-none">
                    <h6 class="mt-2 text-primary fw-bolder h4">Usage Limits</h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Usage Limit Per Coupon</label
                      >
                      <div class="col-sm-10">
                        <input type="number" name="limit-per-coupon" class="form-control" value="{{coupon.limit_per_coupon}}" />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Usage Limit Per Customer</label
                      >
                      <div class="col-sm-10">
                        <input type="number" name="limit-per-customer" class="form-control" value="{{coupon.limit_per_customer}}" />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <button
                          id="cancel-btn"
                          type="submit"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    {% endblock main %}

    {% block script %}
    <script>
      $(".menu.coupon").addClass("selected");
      $(".menu.coupon").addClass("active");
    </script>
    <script src="{% static 'control/virtual-select/virtual-select.min.js' %}"></script>
    <script src="{% static 'control/datedropper/datedropper.min.js' %}"></script>
    <script src="{% static 'control/js/custom-picker.js' %}"></script>
    <script src="{% static 'control/js/main.js' %}"></script>
    {% endblock script %}
