{% load static %}
{% load solo_tags %}
{% get_solo 'setting.SiteConfiguration' as site_config %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'control/css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'control/icon/font-awesome/css/font-awesome.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'control/icon/icofont/css/icofont.css' %}" />
    <link rel="stylesheet" href="{% static 'control/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'control/css/admin-login.css' %}">
  </head>
  <body>

    <div class="main">
          <div class="container">
              <div class="row">
                  <div class="col-12 d-flex flex-fill justify-content-center">
                      <img class="login-logo" src="{{site_config.logo.url}}" alt="">
                  </div>
                  <div class="col-12 d-flex flex-fill justify-content-center">
                      <form class="w-100" action="">
                          <h3 class="fw-bold text-center">Login</h3>
                          <hr>
                          <input class="form-control w-100" type="text" placeholder="Username">
                          <input class="form-control w-100" type="password" placeholder="Password">
                          <div class="d-flex flex-fill justify-content-center">
                              <button class="btn btn-success">Login</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>

    <script src="{% static 'control/js/jquery.min.js' %}"></script>
    <script src="{% static 'control/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'control/js/main.js' %}"></script>
  </body>
</html>
