{% extends 'control/base.html' %}
{% load static %}
{% load fontawesome_5 %}
{% block title %}Menus{% endblock title %}
  {% block style %}
    {% fontawesome_5_static %}
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/bootstrap-table.min.css' %}" />
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.css' %}">
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.css' %}">
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.css' %}">
    <link rel="stylesheet" href="{% static 'control/virtual-select/virtual-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'control/jquery.filer/css/jquery.filer.css' %}" />
    <link rel="stylesheet" href="{% static 'control/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'control/datedropper/datedropper.min.css' %}" />
    {% endblock style %}

    {% block main %}
        <h3 class="fw-bold">Menu's</h3>
        <div class="card coupon-list">
          <div class="container-fluid mt-4">
            <div class="row">
              <div class="col-lg-4 col-sm-12">
                <div class="card-block">
                  <button class="btn btn-add add-menu-btn">
                    <i class="fa fa-plus px-2 m-0"></i>Add Menu
                  </button>
                  <div class="wrapper mt-2">
                    {% for menu in menus %}
                    <div class="d-flex flex-column justify-content-center menus">
                      <div class="my-2 py-2 menu-item" id="{{menu.id}}" name="{{menu.name}}" style="{{menu.style}}" icon="{{menu.icon}}" category="{{menu.categories_id}}" group="{{menu.groups_id}}" subcat="{{menu.subcats_id}}" status="{{menu.active}}">
                        <div class="d-flex align-items-center ms-4">
                          <h6 class="my-0 p-0 me-5">
                            <i class="{{menu.icon}} me-3 drag-icon handle"></i>{{menu.name}}
                          </h6>
                        </div>
                      </div>
                      <i class="fas fa-trash delete-menus text-danger"></i>
                      {% if menu.active %}
                        <i class="fas fa-check-circle enable text-success"></i>
                      {% else %}
                        <i class="fas fa-times-circle enable text-danger"></i>
                      {% endif %}
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-sm-12">
                <form class="mt-2 card" id="edit-menu-form" method="post">
                  <h5 class="form-title text-primary">Add New Menu</h5>
                  <hr>
                  {% csrf_token %}
                  <input type="hidden" name="id" id="id">
                  <div id="coupon-general" class="product-form">
                    {% comment %} <h6 class="mt-2 text-primary fw-bolder h4">General</h6> {% endcomment %}
                    {% comment %} <hr /> {% endcomment %}
                    {% comment %} <br /> {% endcomment %}
                    <div class="row mb-3">
                      <label
                        for="menu-name"
                        class="col-lg-2 col-form-label ms-1 ms-lg-0 fw-bold"
                        >Name*</label
                      >
                      <div class="col-lg-10">
                        <input
                          type="text"
                          class="form-control"
                          name="menu-name"
                          id="menu-name"
                          placeholder="Name"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="menu-style"
                        class="col-lg-2 col-form-label ms-1 ms-lg-0 fw-bold"
                        >Style</label
                      >
                      <div class="col-lg-10">
                        <select name="menu-style" class="hideClear hideSearch" name="menu-style" id="menu-style">
                          <option value="dropdown">Dropdown</option>
                          <option value="mega">Mega Menu</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="icon-select"
                        class="col-lg-2 col-form-label ms-1 ms-lg-0 fw-bold"
                        >Icon</label
                      >
                      <input type="hidden" id="first-menu-icon">
                      <div class="col-lg-10">
                        <select id="menu-icon-select" name="menu-icon">
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="menu-category"
                        class="col-lg-2 col-form-label ms-1 ms-lg-0 fw-bold"
                        >Categories</label
                      >
                      <div class="col-lg-10">
                        <select name="menu-category" id="menu-category" multiple required>
                          {% for category in categorys %}
                            <option value="{{category.id}}">{{category.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="menu-group"
                        class="col-lg-2 col-form-label ms-1 ms-lg-0 fw-bold"
                        >Groups</label
                      >
                      <div class="col-lg-10">
                        <select name="menu-group" id="menu-group" multiple>
                          {% for group in groups %}
                            <option value="{{group.id}}">{{group.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="menu-subcategory"
                        class="col-lg-2 col-form-label ms-1 ms-lg-0 fw-bold"
                        >Subcategories</label
                      >
                      <div class="col-lg-10">
                        <select name="menu-subcategory" id="menu-subcategory" multiple>
                          {% for subcategory in subcategories %}
                            <option value="{{subcategory.id}}">{{subcategory.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-1">
                      <label
                        for="menu-enable"
                        class="col-2 col-form-label"
                        >Status</label
                      >
                      <div class="col-lg-10 mt-2">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="menu-enable" type="checkbox" name="menu-enable"/>
                            <span class="cr">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                            </span>
                            <span>Enable this Menu</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3 mt-4">
                      <div class="col-sm-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Add Menu
                        </button>
                        {% comment %} <button
                          id="cancel-btn"
                          type="submit"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </button> {% endcomment %}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    {% endblock main %}

    {% block script %}
    <script src="{% static 'control/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/export/bootstrap-table-export.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/filter-control/utils.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/toolbar/bootstrap-table-toolbar.js' %}"></script>
    <script src="{% static 'control/virtual-select/virtual-select.min.js' %}"></script>
    <script src="{% static 'control/datedropper/datedropper.min.js' %}"></script>
    <script src="{% static 'control/js/custom-picker.js' %}"></script>
    <script src="{% static 'control/fontawesome.json' %}"></script>
    <script src="{% static 'control/font5.json' %}"></script>
    <script src="{% static 'control/js/icons.js' %}"></script>
    <script src="{% static 'control/js/Sortable.js' %}"></script>
    <script src="{% static 'product_category.js' %}"></script>
    <script>
      const dragArea = document.querySelector(".wrapper");
      var sortable = new Sortable(dragArea, {
        animation: 350,
        {% comment %} handle: '.handle', {% endcomment %}
        onSort: function(){
          elm = $(".menu-item")
          var ids = []
          for(i=0; i < elm.length; i++){
            ids.push(elm[i].getAttribute("id"))
          }
          ids = String(ids)
          $.ajax({
            url:"/control/menu/update",
            type:"POST",
            data:{menu_id: ids, action: "update"},
            success: function(result) {
              console.log(result.msg)
              console.log(result.id)
            },
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            },
            error: function(e){
                console.error(JSON.stringify(e));
            },
          });
        }
      })
    </script>
    {% endblock script %}
