{% extends 'control/base.html' %}
{% load static %}
{% block title %}{{site_config.name}} | Settings{% endblock title %}

    {% block style %}
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/bootstrap-table.min.css' %}" />
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.css' %}">
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.css' %}">
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.css' %}">
    <link rel="stylesheet" href="{% static 'control/css/tail.select-light-feather.css' %}" />
    <link rel="stylesheet" href="{% static 'control/jquery.filer/css/jquery.filer.css' %}" />
    <link rel="stylesheet" href="{% static 'control/virtual-select/virtual-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'control/dropzone/dropzone.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'control/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'control/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css' %}"
    />
    <link rel="stylesheet" href="{% static 'control/css/style.css' %}" />
    {% endblock style %}

    {% block main %}
      <div class="d-flex flex-fill justify-content-between align-items-center">
        <h3 class="fw-bold">Setting's</h3>
        <div class="d-flex">
          <a href="/control" class="text-decoration-none breadcrumb-item text-secondary"><i class="fas fa-home"></i></a>
          <a href="/control/settings/" class="text-decoration-none breadcrumb-item text-secondary">Settings</a>
        </div>
      </div>
      <div class="card">
          <div class="container-fluid">
            <div class="row m-2 p-3 bg-white">
              <div class="product-menu col-xl-3 col-lg-4">
                <div class="menu-sec">
                  <div
                    class="menu basic d-flex flex-fill justify-content-between selected"
                  >
                    <span>General Settings</span
                    ><span class="arrow"><i class="fa fa-angle-right"></i></span>
                  </div>
                  <ul class="submenu">
                    <li class="selected" for="general"><p class="m-0 p-0">General</p></li>
                    <li for="maintenance"><p class="m-0 p-0">Maintenance</p></li>
                    <li for="store"><p class="m-0 p-0">Store</p></li>
                    <li for="currency"><p class="m-0 p-0">Currency</p></li>
                    <li for="mail"><p class="m-0 p-0">Mail</p></li>
                    <li for="newsletter"><p class="m-0 p-0">Newsletter</p></li>
                  </ul>
                </div>
                <div class="menu-sec">
                  <div class="menu advance d-flex flex-fill justify-content-between">
                    <span>Social Logins</span
                    ><span class="arrow"><i class="fa fa-angle-right"></i></span>
                  </div>
                  <ul class="submenu">
                    <li for="facebook"><p class="m-0 p-0">Facebook</p></li>
                    <li for="google"><p class="m-0 p-0">Google</p></li>
                    {% comment %} <li for="add-additional"><p class="m-0 p-0">Additional</p></li> {% endcomment %}
                  </ul>
                </div>
                <div class="menu-sec">
                  <div class="menu advance d-flex flex-fill justify-content-between">
                    <span>Payment Methods</span
                    ><span class="arrow"><i class="fa fa-angle-right"></i></span>
                  </div>
                  <ul class="submenu">
                    <li for="paypal"><p class="m-0 p-0">Paypal</p></li>
                    <li for="bkash"><p class="m-0 p-0">Bkash</p></li>
                    <li for="bkash"><p class="m-0 p-0">Nagod</p></li>
                    <li for="bkash"><p class="m-0 p-0">Rocket</p></li>
                    <li for="sslcommerze"><p class="m-0 p-0">SSLCommerze</p></li>
                    <li for="stripe"><p class="m-0 p-0">Stripe</p></li>
                    <li for="cashon"><p class="m-0 p-0">Cash On Delivery</p></li>
                    <li for="bank"><p class="m-0 p-0">Bank Transfer</p></li>
                  </ul>
                </div>
              </div>
              <div class="products-form col-xl-9 col-lg-8 ps-lg-5">
                  <form id="general" class="product-form needs-validation" enctype='multipart/form-data' id="add-category-form" method="post" novalidate>
                    <h6 class="mt-2 text-primary fw-bolder h4">General</h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="add-product-name"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Name*</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="add-product-name"
                          name="name"
                          placeholder="Name"
                          required
                        />
                        <div class="invalid-feedback">Please enter name</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="add-short-desc"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Short Descriptions*</label
                      >
                      <div class="col-xl-10">
                        <textarea
                          class="form-control"
                          name="short-desc"
                          id="add-short-desc"
                          placeholder="Description"
                          required
                        ></textarea>
                        <div class="invalid-feedback">Please enter description</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="add-quantity"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Quantity*</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="number"
                          class="form-control"
                          id="add-quantity"
                          name="quantity"
                          min="1"
                          value="5"
                          required
                        />
                        <div class="invalid-feedback">Please enter Quantity</div>
                      </div>
                    </div>
                    <div class="row mb-1">
                      <label
                        for="inputEmail3"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Status</label
                      >
                      <div class="col-xl-10">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="enable" type="checkbox" name="enable" />
                            <span class="cr">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                            </span>
                            <span>Enable this product</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="facebook" class="product-form needs-validation d-none" enctype='multipart/form-data' id="add-category-form" method="post" novalidate>
                    <h6 class="mt-2 text-primary fw-bolder h4">Facebook</h6>
                    <hr />
                    <br />
                    <div class="row mb-1">
                      <label
                        for="facebook-enable"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Status</label
                      >
                      <div class="col-xl-10">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="facebook-enable" type="checkbox" name="enable" />
                            <span class="cr">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                            </span>
                            <span>Enable Facebook Login</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3 facebook-login-field d-none">
                      <label
                        for="app-id"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >App ID</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="app-id"
                          name="name"
                          placeholder="App ID"
                          required
                        />
                        <div class="invalid-feedback">Please enter App ID</div>
                      </div>
                    </div>
                    <div class="row mb-3 facebook-login-field d-none">
                      <label
                        for="app-secret"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >App Secret</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="app-secret"
                          name="name"
                          placeholder="App ID"
                          required
                        />
                        <div class="invalid-feedback">Please enter App Secret</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="google" class="product-form needs-validation d-none" enctype='multipart/form-data' id="add-category-form" method="post" novalidate>
                    <h6 class="mt-2 text-primary fw-bolder h4">Google</h6>
                    <hr />
                    <br />
                    <div class="row mb-1">
                      <label
                        for="facebook-enable"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Status</label
                      >
                      <div class="col-xl-10">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="google-enable" type="checkbox" name="enable" />
                            <span class="cr">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                            </span>
                            <span>Enable Google Login</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3 google-login-field d-none">
                      <label
                        for="app-id"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >App ID</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="app-id"
                          name="name"
                          placeholder="App ID"
                          required
                        />
                        <div class="invalid-feedback">Please enter App ID</div>
                      </div>
                    </div>
                    <div class="row mb-3 google-login-field d-none">
                      <label
                        for="app-secret"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >App Secret</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="app-secret"
                          name="name"
                          placeholder="App ID"
                          required
                        />
                        <div class="invalid-feedback">Please enter App Secret</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
      </div>
    {% endblock main %}

    {% block script %}
    {% comment %} <script src="{% static 'control/js/table/jquery.dataTables.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'control/js/table/dataTables.buttons.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'control/dropzone/dropzone.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/export/bootstrap-table-export.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/filter-control/utils.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/toolbar/bootstrap-table-toolbar.js' %}"></script>
    <script src="{% static 'control/tableexport/tableExport.min.js' %}"></script>
    <script src="{% static 'control/ckeditor/build/ckeditor.js' %}"></script>
    <script src="{% static 'control/ckeditor/build/style.js' %}"></script>
    <script src="{% static 'control/js/tail.select-full.js' %}"></script>
    <script src="{% static 'control/js/form-masking/inputmask.js' %}"></script>
    <script src="{% static 'control/js/form-masking/jquery.inputmask.js' %}"></script>
    <script src="{% static 'control/js/form-masking/autoNumeric.js' %}"></script>
    <script src="{% static 'control/js/form-masking/form-mask.js' %}"></script>
    <script src="{% static 'control/jquery.filer/js/jquery.filer.min.js' %}"></script>
    <script src="{% static 'control/filer/custom-filer.js' %}"></script>
    <script src="{% static 'control/virtual-select/virtual-select.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-tagsinput/dist/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'control/filer/jquery.fileuploads.init.js' %}"></script>
    {% endblock script %}