{% extends 'control/base.html' %}
{% load static %}
{% load countries %}
{% block title %}{{site_config.name}} | Settings{% endblock title %}

    {% block style %}
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/bootstrap-table.min.css' %}" />
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.css' %}">
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.css' %}">
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.css' %}">
    <link rel="stylesheet" href="{% static 'control/css/tail.select-light-feather.css' %}" />
    <link rel="stylesheet" href="{% static 'control/jquery.filer/css/jquery.filer.css' %}" />
    <link rel="stylesheet" href="{% static 'control/virtual-select/virtual-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'control/dropzone/dropzone.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'control/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'control/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css' %}"
    />
    <link rel="stylesheet" href="{% static 'control/css/style.css' %}" />
    {% endblock style %}

    {% block main %}
      <div class="d-flex flex-fill justify-content-between align-items-center">
        <h3 class="fw-bold">Setting's</h3>
      </div>
      <div class="card">
          <div class="container-fluid">
            <div class="row m-2 p-3 bg-white">
              <div class="product-menu col-xl-3 col-lg-4">
                <div class="menu-sec">
                  <div
                    class="menu basic d-flex flex-fill justify-content-between selected"
                  >
                    <span>General Settings</span
                    ><span class="arrow"><i class="fa fa-angle-right"></i></span>
                  </div>
                  <ul class="submenu">
                    <li class="selected" for="general"><p class="m-0 p-0">General</p></li>
                    <li for="maintenance"><p class="m-0 p-0">Maintenance</p></li>
                    <li for="store"><p class="m-0 p-0">Store</p></li>
                    <li for="currency"><p class="m-0 p-0">Currency</p></li>
                    <li for="mail"><p class="m-0 p-0">Mail</p></li>
                    <li for="newsletter"><p class="m-0 p-0">Newsletter</p></li>
                  </ul>
                </div>
                <div class="menu-sec">
                  <div class="menu advance d-flex flex-fill justify-content-between">
                    <span>Shipping Methods</span
                    ><span class="arrow"><i class="fa fa-angle-right"></i></span>
                  </div>
                  <ul class="submenu">
                    <li for="free-shipping"><p class="m-0 p-0">Free Shipping</p></li>
                    <li for="local-shipping"><p class="m-0 p-0">Local Shipping</p></li>
                    {% comment %} <li for="google"><p class="m-0 p-0">Google</p></li> {% endcomment %}
                    {% comment %} <li for="add-additional"><p class="m-0 p-0">Additional</p></li> {% endcomment %}
                  </ul>
                </div>
                <div class="menu-sec">
                  <div class="menu advance d-flex flex-fill justify-content-between">
                    <span>Social Login</span
                    ><span class="arrow"><i class="fa fa-angle-right"></i></span>
                  </div>
                  <ul class="submenu">
                    <li for="google"><p class="m-0 p-0">Google</p></li>
                    <li for="facebook"><p class="m-0 p-0">Facebook</p></li>
                  </ul>
                </div>
                <div class="menu-sec">
                  <div class="menu advance d-flex flex-fill justify-content-between">
                    <span>Payment Methods</span
                    ><span class="arrow"><i class="fa fa-angle-right"></i></span>
                  </div>
                  <ul class="submenu">
                    <li for="paypal"><p class="m-0 p-0">Paypal</p></li>
                    {% comment %} <li for="bkash"><p class="m-0 p-0">Bkash</p></li>
                    <li for="bkash"><p class="m-0 p-0">Nagod</p></li>
                    <li for="bkash"><p class="m-0 p-0">Rocket</p></li>
                    <li for="sslcommerze"><p class="m-0 p-0">SSLCommerze</p></li>
                    <li for="stripe"><p class="m-0 p-0">Stripe</p></li> {% endcomment %}
                    <li for="cashon"><p class="m-0 p-0">Cash On Delivery</p></li>
                    {% comment %} <li for="bank"><p class="m-0 p-0">Bank Transfer</p></li> {% endcomment %}
                  </ul>
                </div>
              </div>
              <div class="products-form col-xl-9 col-lg-8 ps-lg-5">
                  <form id="general" class="product-form needs-validation" id="general-form" method="post" novalidate>
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">General</h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="country-select"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Supported Countries</label
                      >
                      <div class="col-xl-10">
                        <select class="form-select virtual-select" id="country-select" name="support-countries" required multiple>
                          {% get_countries as countries %}
                          {% for country in countries %}
                            <option value="{{country.code}}">{{country.name}} ({{country.code}})</option>
                          {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please Select Country</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="default-country-select"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Default Countries</label
                      >
                      <div class="col-xl-10">
                        <select class="form-select virtual-select" id="default-country-select" name="default-country" required>
                          {% for country in countries %}
                            <option value="{{country.code}}">{{country.name}} ({{country.code}})</option>
                          {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please Select Country</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="country-select"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Default Timezone</label
                      >
                      <div class="col-xl-10">
                        <select class="form-select virtual-select" id="country-select" name="support-country" required>
                          {% for timezone in timezones %}
                            <option value="{{timezone}}">{{timezone}}</option>
                          {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please Select a Timezone</div>
                      </div>
                    </div>
                    {% comment %} <div class="row mb-3">
                      <label
                        for="country-select"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Customer Roles</label
                      >
                      <div class="col-xl-10">
                        <select class="form-select virtual-select" id="country-select" name="support-country" required multiple>
                          <option value="Bangladesh">Bangladesh</option>
                          <option value="Pakistan">Pakistan</option>
                        </select>
                        <div class="invalid-feedback">Please Select Country</div>
                      </div>
                    </div> {% endcomment %}
                    <div class="row mb-1">
                      <label
                        for="inputEmail3"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Welcome Email</label
                      >
                      <div class="col-xl-10 mt-2">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="enable" type="checkbox" name="enable" />
                            <span class="cr">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                            </span>
                            <span>Send welcome email after registration</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-1">
                      <label
                        for="inputEmail3"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Order Status Email</label
                      >
                      <div class="col-xl-10 mt-2">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="enable" type="checkbox" name="enable" />
                            <span class="cr">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                            </span>
                            <span>Send email after order status is changed</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-1">
                      <label
                        for="inputEmail3"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Invoice Email</label
                      >
                      <div class="col-xl-10 mt-2">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="enable" type="checkbox" name="enable" />
                            <span class="cr">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                            </span>
                            <span>Send invoice email to the customer after checkout</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    {% comment %} <div class="row mb-1">
                      <label
                        for="inputEmail3"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Status</label
                      >
                      <div class="col-xl-10">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="enable" type="checkbox" name="enable" />
                            <span class="cr">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                            </span>
                            <span>Enable this product</span>
                          </label>
                        </div>
                      </div>
                    </div> {% endcomment %}
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="store" class="product-form needs-validation d-none" id="store-form" method="post" novalidate>
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">Store</h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="store-tagline"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Store Tagline</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="store-tagline"
                          name="store-tagline"
                          placeholder="Store Tagline"
                          value="{{storeinfo.tagline}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="store-phone"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Store Phone</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="store-phone"
                          name="store-phone"
                          placeholder="Store Phone"
                          value="{{storeinfo.phone}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter phone</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="store-email"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Store Email</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="email"
                          class="form-control"
                          id="store-email"
                          name="store-email"
                          placeholder="Store Email"
                          value="{{storeinfo.email}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter email</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="address1"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Store Address 1</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="address1"
                          name="store-address1"
                          placeholder="Store Address 1"
                          value="{{storeinfo.address1}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter address 1</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="address2"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Store Address 2</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="address2"
                          name="store-address2"
                          placeholder="Store Address 2"
                          value="{{storeinfo.address2}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="store-city"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Store City</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="store-city"
                          name="store-city"
                          placeholder="Store City"
                          value="{{storeinfo.city}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter city</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="store-country"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Store Country</label
                      >
                      <div class="col-xl-10">
                        <select class="form-select virtual-select hideClear" id="store-country" name="store-country">
                          {% get_countries as countries %}
                          {% for country in countries %}
                            <option value="{{country.name}}" {% if storeinfo.country == country.name %}selected{% endif %}>{{country.name}} ({{country.code}})</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="store-state"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Store State</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="store-state"
                          name="store-state"
                          placeholder="Store State"
                          value="{{storeinfo.state}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter state</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="store-zip"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Store Zip</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="store-zip"
                          name="store-zip"
                          placeholder="Store Zip"
                          value="{{storeinfo.zip}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter zip</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="facebook" class="product-form needs-validation d-none" id="facebook-form" method="post" novalidate>
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">Facebook</h6>
                    <hr />
                    <br />
                    <div class="row mb-1">
                      <label
                        for="facebook-enable"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Enable</label
                      >
                      <div class="col-xl-10">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="facebook-enable" type="checkbox" name="facebook-enable" {% if facebook_login.status %}checked{% endif %} />
                            <span class="cr mt-1">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                              </span>
                              <span>Enable Facebook Login</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" name="id" value="null">
                    <div class="row mb-3 facebook-login-field {% if not facebook_login.status %}d-none{% endif %}">
                      <label
                        for="app-id"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >App ID</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="facebook-app-id"
                          name="facebook-app-id"
                          placeholder="App ID"
                          value="{{facebook_login.client_id}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter App ID</div>
                      </div>
                    </div>
                    <div class="row mb-3 facebook-login-field {% if not facebook_login.status %}d-none{% endif %}">
                      <label
                        for="app-secret"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >App Secret</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="facebook-app-secret"
                          name="facebook-app-secret"
                          value="{{facebook_login.secret}}"
                          placeholder="App Secret"
                          required
                        />
                        <div class="invalid-feedback">Please enter App Secret</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="google" class="product-form needs-validation d-none" id="google-form" method="post" novalidate>
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">google</h6>
                    <hr />
                    <br />
                    <div class="row mb-1">
                      <label
                        for="google-enable"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Enable</label
                      >
                      <div class="col-xl-10">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="google-enable" type="checkbox" name="google-enable" {% if google_login.status %}checked{% endif %} />
                            <span class="cr mt-1">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                              </span>
                              <span>Enable google Login</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" name="id" value="null">
                    <div class="row mb-3 google-login-field {% if not google_login.status %}d-none{% endif %}">
                      <label
                        for="app-id"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >App ID</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="google-app-id"
                          name="google-app-id"
                          placeholder="App ID"
                          value="{{google_login.client_id}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter App ID</div>
                      </div>
                    </div>
                    <div class="row mb-3 google-login-field {% if not google_login.status %}d-none{% endif %}">
                      <label
                        for="app-secret"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >App Secret</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="google-app-secret"
                          name="google-app-secret"
                          value="{{google_login.secret}}"
                          placeholder="App Secret"
                          required
                        />
                        <div class="invalid-feedback">Please enter App Secret</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="free-shipping" class="product-form needs-validation d-none" method="post" novalidate>
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">Free Shipping</h6>
                    <hr />
                    <br />
                    <div class="row mb-1">
                      <label
                        for="free-shipping-enable"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Status</label
                      >
                      <div class="col-xl-10">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="free-shipping-enable" type="checkbox" name="free-shipping-enable" {% if free_shipping.active %}checked{% endif %} />
                            <span class="cr mt-1">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                              </span>
                              <span>Enable Free Shipping</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" name="id" value="null">
                    <div class="row mb-3 free-shipping-label-field {% if not free_shipping.active %}d-none{% endif %}">
                      <label
                        for="app-id"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Label</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="free-shipping-label"
                          name="free-label"
                          placeholder="Method label"
                          value="{{free_shipping.name}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter label</div>
                      </div>
                    </div>
                    <div class="row mb-3 free-shipping-amount-field {% if not free_shipping.active %}d-none{% endif %}">
                      <label
                        for="app-secret"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Minimum Amount</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="free-shipping-amount"
                          name="free-amount"
                          value="{{free_shipping.fee}}"
                          placeholder="Minimum Amount"
                          required
                        />
                        <div class="invalid-feedback">Please enter minimum amount</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="local-shipping" class="product-form needs-validation d-none" enctype='multipart/form-data' method="post" novalidate>
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">Local Shipping</h6>
                    <hr />
                    <br />
                    <div class="row mb-1">
                      <label
                        for="local-shipping-enable"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Status</label
                      >
                      <div class="col-xl-10">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="local-shipping-enable" type="checkbox" name="local-shipping-enable" {% if local_shipping.active %}checked{% endif %} />
                            <span class="cr mt-1">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                            </span>
                            <span>Enable Local Shipping</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" name="id" value="null">
                    <div class="row mb-3 local-shipping-label-field {% if not local_shipping.active %}d-none{% endif %}">
                      <label
                        for="app-id"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Label</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="local-shipping-label"
                          name="local-label"
                          placeholder="Method Label"
                          value="{{local_shipping.name}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter label</div>
                      </div>
                    </div>
                    <div class="row mb-3 local-shipping-amount-field  {% if not local_shipping.active %}d-none{% endif %}">
                      <label
                        for="app-secret"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Cost</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="local-shipping-amount"
                          name="local-cost"
                          placeholder="Cost"
                          value="{{local_shipping.fee}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter cost</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="paypal" class="product-form needs-validation d-none" enctype='multipart/form-data' id="add-category-form" method="post" novalidate>
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">Paypal</h6>
                    <hr />
                    <br />
                    <div class="row mb-1">
                      <label
                        for="paypal-enable"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Status</label
                      >
                      <div class="col-xl-10">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="paypal-enable" type="checkbox" name="paypal-enable" {% if paypal.active %}checked{% endif %} />
                            <span class="cr mt-1">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                            </span>
                            <span>Enable Paypal</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3 paypal-field {% if not paypal.active %}d-none{% endif %}">
                      <label
                        for="paypal-client-id"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Client ID</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="paypal-client-id"
                          name="paypal-client-id"
                          placeholder="App ID"
                          required
                          value="{{paypal.client_id}}"
                        />
                        <div class="invalid-feedback">Please enter Client ID</div>
                      </div>
                    </div>
                    <div class="row mb-3 paypal-field  {% if not paypal.active %}d-none{% endif %}">
                      <label
                        for="paypal-secret"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Secret</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="paypal-secret"
                          name="paypal-secret"
                          placeholder="Secret"
                          required
                          value="{{paypal.secret}}"
                        />
                        <div class="invalid-feedback">Please enter Secret</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="cashon" class="product-form needs-validation d-none" enctype='multipart/form-data' id="add-category-form" method="post" novalidate>
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">Cash On Delivery</h6>
                    <hr />
                    <br />
                    <div class="row mb-1">
                      <label
                        for="cashon-enable"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Status</label
                      >
                      <div class="col-xl-10">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input id="cashon-enable" type="checkbox" name="cashon-enable" {% if cashon.active %}checked{% endif %} />
                            <span class="cr mt-1">
                              <i
                                class="
                                  cr-icon
                                  icofont icofont-ui-check
                                  txt-primary
                                "
                              ></i>
                            </span>
                            <span>Enable Cash On Delivery</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3 paypal-field {% if not paypal.active %}d-none{% endif %}">
                      <label
                        for="about-cashon"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >About Cash On Delivery</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="about-cashon"
                          name="about-cashon"
                          placeholder="About Cash On Delivery"
                          required
                          {% if cashon.about %}
                            value="{{cashon.about}}"
                          {% endif %}
                        />
                        <div class="invalid-feedback">Please enter about cash on delivery</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="currency" class="product-form needs-validation d-none" enctype='multipart/form-data' id="add-category-form" method="post" novalidate>
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">Currency</h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="support-currency"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Supported Currency</label
                      >
                      <div class="col-xl-10">
                        <select class="form-control" id="support-currency" name="support-currency" required multiple keepValue>
                          {% for x, y in currencies.items %}
                            <option value="{{y.code}}" {% if y.code == dc.0 %}disabled{% endif %} {% if y.code in sup_currency %}selected{% endif %}>{{y.name_plural}} ({{y.symbol_native}})</option>
                          {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please Select Country</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="default-currency"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Default Currency</label
                      >
                      <div class="col-xl-10">
                        <select class="virtual-select hideClear" id="default-currency" name="default-currency" required>
                          {% comment %} {% for x, y in currencies.items %}
                            <option value="{{y.code}}" {% if y.code == dc.0 %}selected{% endif %}>{{y.name_plural}} ({{y.symbol_native}})</option>
                          {% endfor %} {% endcomment %}
                        </select>
                        <div class="invalid-feedback">Please Select currency</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="mail" class="product-form needs-validation d-none" id="social-link-form" method="post">
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">Social Link</h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="mail-host"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Mail Host</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="mail-host"
                          name="mail-host"
                          value="{{email_config.email_host}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="mail-port"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Mail Port</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="mail-port"
                          name="mail-port"
                          value="{{email_config.email_port}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="mail-username"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Mail Username</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="mail-username"
                          name="mail-username"
                          value="{{email_config.email_host_user}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="mail-password"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Mail Password</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="mail-password"
                          name="mail-password"
                          value="{{email_config.email_host_password}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="slider"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Mail Encryption</label
                      >
                      <div class="col-xl-10">
                        <select class="hideSearch hideClear" name="encrypt">
                          <option value="ssl" {% if email_config.email_use == 'ssl' %}selected{% endif %}>SSL</option>
                          <option value="tls" {% if email_config.email_use == 'tls' %}selected{% endif %}>TLS</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
      </div>
    {% endblock main %}

    {% block script %}
    {% comment %} <script src="{% static 'control/js/table/jquery.dataTables.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'control/js/table/dataTables.buttons.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'control/dropzone/dropzone.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/export/bootstrap-table-export.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/filter-control/utils.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/toolbar/bootstrap-table-toolbar.js' %}"></script>
    <script src="{% static 'control/tableexport/tableExport.min.js' %}"></script>
    <script src="{% static 'control/ckeditor/build/ckeditor.js' %}"></script>
    <script src="{% static 'control/ckeditor/build/style.js' %}"></script>
    <script src="{% static 'control/js/tail.select-full.js' %}"></script>
    <script src="{% static 'control/js/form-masking/inputmask.js' %}"></script>
    <script src="{% static 'control/js/form-masking/jquery.inputmask.js' %}"></script>
    <script src="{% static 'control/js/form-masking/autoNumeric.js' %}"></script>
    <script src="{% static 'control/js/form-masking/form-mask.js' %}"></script>
    <script src="{% static 'control/jquery.filer/js/jquery.filer.min.js' %}"></script>
    <script src="{% static 'control/filer/custom-filer.js' %}"></script>
    <script src="{% static 'control/virtual-select/virtual-select.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-tagsinput/dist/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'control/filer/jquery.fileuploads.init.js' %}"></script>
    <script src="{% static 'control/countries.json' %}"></script>
    {% endblock script %}