{% extends 'control/base.html' %}
{% load static %}
{% load countries %}
{% load static %}
{% load custom_tags %}
{% block title %}{{site_config.name}} | Appearance{% endblock title %}

    {% block style %}
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/bootstrap-table.min.css' %}" />
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.css' %}">
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.css' %}">
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.css' %}">
    <link rel="stylesheet" href="{% static 'control/css/tail.select-light-feather.css' %}" />
    <link rel="stylesheet" href="{% static 'control/jquery.filer/css/jquery.filer.css' %}" />
    <link rel="stylesheet" href="{% static 'control/virtual-select/virtual-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'control/dropzone/dropzone.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'control/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'control/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css' %}"
    />
    <link rel="stylesheet" href="{% static 'control/css/style.css' %}" />
    {% endblock style %}

    {% block main %}
      <div class="d-flex flex-fill justify-content-between align-items-center">
        <h3 class="fw-bold">Sitefront</h3>
      </div>
      <div class="card">
          <div class="container-fluid">
            <div class="row m-2 p-3 bg-white">
              <div class="product-menu col-xl-3 col-lg-4">
                <div class="menu-sec">
                  <div
                    class="menu basic d-flex flex-fill justify-content-between selected"
                  >
                    <span>General Settings</span
                    ><span class="arrow"><i class="fa fa-angle-right"></i></span>
                  </div>
                  <ul class="submenu">
                    <li class="selected" for="general"><p class="m-0 p-0">General</p></li>
                    <li for="logo"><p class="m-0 p-0">Logo</p></li>
                    <li for="banner"><p class="m-0 p-0">Banner</p></li>
                    <li for="footer"><p class="m-0 p-0">Footer</p></li>
                    <li for="feature"><p class="m-0 p-0">Feature</p></li>
                    <li for="social-link"><p class="m-0 p-0">Social Link</p></li>
                  </ul>
                </div>
                <div class="menu-sec">
                  <div class="menu advance d-flex flex-fill justify-content-between">
                    <span>Products</span
                    ><span class="arrow"><i class="fa fa-angle-right"></i></span>
                  </div>
                  <ul class="submenu">
                    <li for="pro-caro"><p class="m-0 p-0">Product Carousel</p></li>
                  </ul>
                </div>
              </div>
              <div class="products-form col-xl-9 col-lg-8 ps-lg-5">
                  <form id="general" class="product-form needs-validation" enctype='multipart/form-data' id="general-form" method="post" novalidate>
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">General</h6>
                    <hr />
                    <br />
                    <div class="row mb-3 facebook-login-field">
                      <label
                        for="name"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Name</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                          placeholder="Name"
                          required
                          value="{{siteinfo.name}}"
                        />
                        <div class="invalid-feedback">Please enter site name</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="slider"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Slider</label
                      >
                      <div class="col-xl-10">
                        <select class="disable" id="slider" name="slider">
                          {% for slider in sliders %}
                          <option value="{{slider.id}}" {% if slider.id == siteinfo.slider.id %}selected{% endif %} >{{slider.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="term"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Terms & Condition Page</label
                      >
                      <div class="col-xl-10">
                        <select class="disable" id="term" name="term">
                          {% for page in pages %}
                          <option value="{{page.id}}">{{page.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="privacy"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Privacy Policy Page</label
                      >
                      <div class="col-xl-10">
                        <select class="disable" id="privacy" name="privacy">
                          {% for page in pages %}
                          <option value="{{page.id}}">{{page.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3 facebook-login-field">
                      <label
                        for="address"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Address</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="address"
                          name="address"
                          placeholder="Address"
                          required
                          value="{{siteinfo.address}}"
                        />
                        <div class="invalid-feedback">Please enter Address</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="logo" class="product-form needs-validation d-none" enctype='multipart/form-data' id="add-category-form" method="post" novalidate>
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">Logo</h6>
                    <hr />
                    <br />
                    <div class="row mb-1">
                      <label class="h5 mb-3" for="add-thumbnail-2">Logo</label>
                      <label for="add-thumbnail-input" class="slide-thumbnail">
                          <img
                          class="thumbnail border-1 pointer"
                          id="add-thumbnail"
                          src = "{{site_config.logo.url}}"
                          />
                      </label>
                      <input
                          class="d-none"
                          type="file"
                          accept="image/*"
                          id="add-thumbnail-input"
                          name="logo"
                          for="add-thumbnail"
                          required
                      />
                    </div>
                    <div class="row mb-3">
                      <label class="h5 mb-3" for="add-thumbnail-input-1">Favicon</label>
                      <label for="add-thumbnail-input-1" class="slide-thumbnail">
                          <img
                          class="thumbnail border-1 pointer"
                          id="add-thumbnail-1"
                          src="{{site_config.favicon.url}}"
                          />
                      </label>
                      <input
                          class="d-none"
                          type="file"
                          accept="image/*"
                          id="add-thumbnail-input-1"
                          name="favicon"
                          for="add-thumbnail-1"
                          required
                      />
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="banner" class="product-form needs-validation d-none" enctype='multipart/form-data' id="add-category-form" method="post">
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">Banner</h6>
                    <hr />
                    <br />
                    <a class="btn btn-outline-success mb-3" href="{% static 'control/img/banner.png' %}" target="_blank">Banner Guide</a>
                    <div class="row mb-3">
                      <label
                        for="banner1"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Banner 1</label
                      >
                      <div class="col-xl-10">
                        <select class="hideClear" id="banner1" name="banner1">
                          <option></option>
                          {% for banner in banners %}
                          <option value="{{banner.id}}" {% if banner.id == site_config.banner1.id %}selected{% endif %} >{{banner.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="banner2"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Banner 2</label
                      >
                      <div class="col-xl-10">
                        <select class="hideClear" id="banner2" name="banner2">
                          <option></option>
                          {% for banner in banners %}
                          <option value="{{banner.id}}" {% if banner.id == site_config.banner2.id %}selected{% endif %} >{{banner.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div><div class="row mb-3">
                      <label
                        for="slider"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Banner 3</label
                      >
                      <div class="col-xl-10">
                        <select class="hideClear" id="banner3" name="banner3">
                          <option></option>
                          {% for banner in banners %}
                          <option value="{{banner.id}}" {% if banner.id == site_config.banner3.id %}selected{% endif %} >{{banner.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div><div class="row mb-3">
                      <label
                        for="slider"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Banner 4</label
                      >
                      <div class="col-xl-10">
                        <select class="hideClear" id="banner4" name="banner4">
                          <option></option>
                          {% for banner in banners %}
                          <option value="{{banner.id}}" {% if banner.id == site_config.banner4.id %}selected{% endif %} >{{banner.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div><div class="row mb-3">
                      <label
                        for="slider"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Banner 5</label
                      >
                      <div class="col-xl-10">
                        <select class="hideClear" id="banner5" name="banner5">
                          <option></option>
                          {% for banner in banners %}
                          <option value="{{banner.id}}" {% if banner.id == site_config.banner5.id %}selected{% endif %} >{{banner.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div><div class="row mb-3">
                      <label
                        for="slider"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Banner 6</label
                      >
                      <div class="col-xl-10">
                        <select class="hideClear" id="banner6" name="banner6">
                          <option></option>
                          {% for banner in banners %}
                          <option value="{{banner.id}}" {% if banner.id == site_config.banner6.id %}selected{% endif %} >{{banner.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div><div class="row mb-3">
                      <label
                        for="slider"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Banner 7</label
                      >
                      <div class="col-xl-10">
                        <select class="hideClear" id="banner7" name="banner7">
                          <option></option>
                          {% for banner in banners %}
                          <option value="{{banner.id}}" {% if banner.id == site_config.banner7.id %}selected{% endif %} >{{banner.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div><div class="row mb-3">
                      <label
                        for="slider"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Banner 8</label
                      >
                      <div class="col-xl-10">
                        <select class="hideClear" id="banner8" name="banner8">
                          <option></option>
                          {% for banner in banners %}
                          <option value="{{banner.id}}">{{banner.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <div id="footer" class="product-form needs-validation d-none">
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">Footer</h6>
                    <hr />
                    <br />
                    <nav class="profile-sec-nav">
                      <div class="nav nav-pills" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-links-tab" data-bs-toggle="tab" data-bs-target="#nav-links" type="button" role="tab" aria-controls="nav-links" aria-selected="true">Useful Links</button>
                        <button class="nav-link" id="nav-service-tab" data-bs-toggle="tab" data-bs-target="#nav-service" type="button" role="tab" aria-controls="nav-service" aria-selected="false">Customer Service</button>
                      </div>
                    </nav>
                    <div class="tab-content mt-4" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-links" role="tabpanel" aria-labelledby="nav-links-tab">
                        <form method="post" class="needs-validation" id="links" novalidate>
                          {% csrf_token %}
                          <input type="hidden" name="useful-link">
                          {% if useful_links.links.all|length > 0 %}
                          {% for links in useful_links.links.all %}
                          <div class="row mb-3">
                            <div class="col-sm-4">
                              <input
                                type="text"
                                class="form-control"
                                name="title"
                                placeholder="Title"
                                required
                                value = "{{links.name}}"
                              />
                              <div class="invalid-feedback">Please enter title</div>
                            </div>
                            <div class="col-sm-7">
                              <input
                                type="text"
                                class="form-control"
                                name="link"
                                placeholder="Link"
                                required
                                value = "{{links.link}}"
                              />
                              <div class="invalid-feedback">Please enter link</div>
                            </div>
                            <i id="removelink" class="fas fa-trash col-sm-1 mt-2 d-flex flex-fill justify-content-end"></i>
                          </div>
                          {% endfor %}
                          {% else %}
                          <div class="row mb-3">
                            <div class="col-sm-4">
                              <input
                                type="text"
                                class="form-control"
                                name="title"
                                placeholder="Title"
                                required
                              />
                              <div class="invalid-feedback">Please enter title</div>
                            </div>
                            <div class="col-sm-7">
                              <input
                                type="text"
                                class="form-control"
                                name="link"
                                placeholder="Link"
                                required
                              />
                              <div class="invalid-feedback">Please enter link</div>
                            </div>
                            <i id="removelink" class="fas fa-trash col-sm-1 mt-2 d-flex flex-fill justify-content-end"></i>
                          </div>
                          {% endif %}
                          <div id="new-link" class="d-flex flex-column"></div>
                          <div class="btn mt-1 add-link-btn">Add Link</div>
                          <div class="row mb-3 mt-3">
                            <div class="col-sm-10 offset-lg-2">
                              <button
                                id="save-btn"
                                type="submit"
                                class="btn btn-primary py-1 px-3"
                              >
                                Save
                              </button>
                              <button
                                id="cancel-btn"
                                type="submit"
                                class="btn btn-secondary py-1 px-3"
                              >
                                Cancel
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="tab-pane fade" id="nav-service" role="tabpanel" aria-labelledby="nav-service-tab">
                        <form method="post" class="needs-validation" id="links" novalidate>
                          {% csrf_token %}
                          {% if service_links.links.all|length > 0 %}
                          {% for links in service_links.links.all %}
                          <div class="row mb-3">
                            <div class="col-sm-4">
                              <input
                                type="text"
                                class="form-control"
                                name="title"
                                placeholder="Title"
                                required
                                value = "{{links.name}}"
                              />
                              <div class="invalid-feedback">Please enter title</div>
                            </div>
                            <div class="col-sm-7">
                              <input
                                type="text"
                                class="form-control"
                                name="link"
                                placeholder="Link"
                                required
                                value = "{{links.link}}"
                              />
                              <div class="invalid-feedback">Please enter link</div>
                            </div>
                            <i id="removelink" class="fas fa-trash col-sm-1 mt-2 d-flex flex-fill justify-content-end"></i>
                          </div>
                          {% endfor %}
                          {% else %}
                          <div class="row mb-3">
                            <div class="col-sm-4">
                              <input
                                type="text"
                                class="form-control"
                                name="title"
                                placeholder="Title"
                                required
                              />
                              <div class="invalid-feedback">Please enter title</div>
                            </div>
                            <div class="col-sm-7">
                              <input
                                type="text"
                                class="form-control"
                                name="link"
                                placeholder="Link"
                                required
                              />
                              <div class="invalid-feedback">Please enter link</div>
                            </div>
                            <i id="removelink" class="fas fa-trash col-sm-1 mt-2 d-flex flex-fill justify-content-end"></i>
                          </div>
                          {% endif %}
                          <div id="new-link" class="d-flex flex-column"></div>
                          <div class="btn mt-1 add-link-btn">Add Link</div>
                          <div class="row mb-3 mt-3">
                            <div class="col-sm-10 offset-lg-2">
                              <button
                                id="save-btn"
                                type="submit"
                                class="btn btn-primary py-1 px-3"
                              >
                                Save
                              </button>
                              <button
                                id="cancel-btn"
                                type="submit"
                                class="btn btn-secondary py-1 px-3"
                              >
                                Cancel
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <form id="feature" class="product-form needs-validation d-none" method="post" novalidate>
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">Feature</h6>
                    <hr />
                    <br />
                    <h5 class="mt-0 mb-3 py-0">Feature 1</h5>
                    <div class="row mb-3 ms-2">
                      <label
                        for="title1"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Title</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="title1"
                          name="title1"
                          placeholder="Title"
                          required
                          value="{{feature.title1}}"
                        />
                        <div class="invalid-feedback">Please enter title</div>
                      </div>
                    </div>
                    <div class="row mb-3 ms-2">
                      <label
                        for="subtitle1"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Subtitle</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="subtitle1"
                          name="subtitle1"
                          placeholder="Subtitle"
                          required
                          value="{% if feature.subtitle1 %}{{feature.subtitle1}}{% endif %}"
                        />
                        <div class="invalid-feedback">Please enter subtitle</div>
                      </div>
                    </div>
                    <div class="row mb-3 ms-2">
                      <label
                        for="slider"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Icon</label
                      >
                      <div class="col-xl-10">
                        <select class="fi1" id="feature-icon" name="icon1" value="{{feature.icon1}}">
                        </select>
                      </div>
                    </div>
                    <h5 class="mt-0 mb-3 py-0">Feature 2</h5>
                    <div class="row mb-3 ms-2">
                      <label
                        for="title2"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Title</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="title2"
                          name="title2"
                          placeholder="Title"
                          required
                          value="{{feature.title4}}"
                        />
                        <div class="invalid-feedback">Please enter title</div>
                      </div>
                    </div>
                    <div class="row mb-3 ms-2">
                      <label
                        for="subtitle2"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Subtitle</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="subtitle2"
                          name="subtitle2"
                          placeholder="Subtitle"
                          required
                          value="{% if feature.subtitle2 %}{{feature.subtitle2}}{% endif %}"
                        />
                        <div class="invalid-feedback">Please enter subtitle</div>
                      </div>
                    </div>
                    <div class="row mb-3 ms-2">
                      <label
                        for="slider"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Icon</label
                      >
                      <div class="col-xl-10">
                        <select class="fi2" id="feature-icon" name="icon2" value="{{feature.icon2}}">
                        </select>
                      </div>
                    </div>
                    <h5 class="mt-0 mb-3 py-0">Feature 3</h5>
                    <div class="row mb-3 ms-2">
                      <label
                        for="title3"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Title</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="title3"
                          name="title3"
                          placeholder="Title"
                          value="{{feature.title3}}"
                          required
                        />
                        <div class="invalid-feedback">Please enter title</div>
                      </div>
                    </div>
                    <div class="row mb-3 ms-2">
                      <label
                        for="subtitle3"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Subtitle</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="subtitle3"
                          name="subtitle3"
                          placeholder="Subtitle"
                          required
                          value="{% if feature.subtitle3 %}{{feature.subtitle3}}{% endif %}"
                        />
                        <div class="invalid-feedback">Please enter subtitle</div>
                      </div>
                    </div>
                    <div class="row mb-3 ms-2">
                      <label
                        for="slider"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Icon</label
                      >
                      <div class="col-xl-10">
                        <select class="fi3" id="feature-icon" name="icon3" value="{{feature.icon3}}">
                        </select>
                      </div>
                    </div>
                    <h5 class="mt-0 mb-3 py-0">Feature 4</h5>
                    <div class="row mb-3 ms-2">
                      <label
                        for="title4"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Title</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="title4"
                          name="title4"
                          placeholder="Title"
                          required
                          value="{{feature.title4}}"
                        />
                        <div class="invalid-feedback">Please enter title</div>
                      </div>
                    </div>
                    <div class="row mb-3 ms-2">
                      <label
                        for="subtitle4"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Subtitle</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          name="subtitle4"
                          id="subtitle4"
                          placeholder="Subtitle"
                          required
                          value="{% if feature.subtitle4 %}{{feature.subtitle4}}{% endif %}"
                        />
                        <div class="invalid-feedback">Please enter subtitle</div>
                      </div>
                    </div>
                    <div class="row mb-3 ms-2">
                      <label
                        for="slider"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Icon</label
                      >
                      <div class="col-xl-10">
                        <select class="fi4" id="feature-icon" name="icon4" value="{{feature.icon4}}">
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="social-link" class="product-form needs-validation d-none" id="social-link-form" method="post">
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">Social Link</h6>
                    <hr />
                    <br />
                    <div class="row mb-3 facebook-login-field">
                      <label
                        for="facebook"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Facebook</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="facebook"
                          name="facebook-link"
                          value="{{site_config.facebook}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="twitter"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Twitter</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="twitter"
                          name="twitter"
                          value="{{site_config.twitter}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="instagram"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Instagram</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="instagram"
                          name="instagram"
                          value="{{site_config.instagram}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="youtube"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Youtube</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="youtube"
                          name="youtube"
                          value="{{site_config.youtube}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-xl-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <div
                          id="cancel-btn"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </div>
                      </div>
                    </div>
                  </form>
                  <div id="pro-caro" class="product-form needs-validation d-none" method="post">
                    {% csrf_token %}
                    <h6 class="mt-2 text-primary fw-bolder h4">Product Carousel</h6>
                    <hr />
                    <br />
                    <div class="procaro-list">
                      <div class="container-fluid mt-4 mx-0 px-0">
                        <div class="row">
                          <div class="col-lg-3 col-sm-12">
                            <div class="card-block">
                              <button class="btn btn-add add-carousel-btn">
                                <i class="fa fa-plus px-2 m-0"></i>Add Carousel
                              </button>
                              <div class="wrapper mt-2">
                                {% for pro_caro in pro_caro %}
                                <div class="d-flex flex-column justify-content-center carous">
                                  <div class="my-2 py-2 caro-item" id="{{pro_caro.id}}" name="{{pro_caro.name}}" category="{{pro_caro.categories_id}}" group="{{pro_caro.groups_id}}" subcat="{{pro_caro.subcats_id}}" status="{{pro_caro.enable}}">
                                    <div class="d-flex align-items-center ms-4">
                                      <h6 class="my-0 p-0 me-5">
                                        {{pro_caro.name}}
                                      </h6>
                                    </div>
                                  </div>
                                  <i class="fas fa-trash delete-carousel text-danger"></i>
                                  {% if pro_caro.enable %}
                                    <i class="fas fa-list-ol drag enable text-success"></i>
                                  {% else %}
                                    <i class="fas fa-list-ol drag enable text-danger"></i>
                                  {% endif %}
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-9 col-sm-12">
                            <form class="mt-2 card" id="edit-carousel-form" method="post">
                              <h5 class="carousel-title text-primary">Add New Carousel</h5>
                              <hr>
                              {% csrf_token %}
                              <input type="hidden" name="id" id="id">
                              <div id="caro-general">
                                <div class="row mb-3">
                                  <label
                                    for="caro-name"
                                    class="col-lg-2 col-form-label ms-1 ms-lg-0 fw-bold"
                                    >Name*</label
                                  >
                                  <div class="col-lg-10">
                                    <input
                                      type="text"
                                      class="form-control"
                                      name="caro-name"
                                      id="caro-name"
                                      placeholder="Name"
                                    />
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <label
                                    for="caro-category"
                                    class="col-lg-2 col-form-label ms-1 ms-lg-0 fw-bold"
                                    >Categories</label
                                  >
                                  <div class="col-lg-10">
                                    <select name="caro-category" id="caro-category" multiple required>
                                      {% for category in categorys %}
                                        <option value="{{category.id}}">{{category.name}}</option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <label
                                    for="caro-group"
                                    class="col-lg-2 col-form-label ms-1 ms-lg-0 fw-bold"
                                    >Groups</label
                                  >
                                  <div class="col-lg-10">
                                    <select name="caro-group" id="caro-group" multiple>
                                      {% for group in groups %}
                                        <option value="{{group.id}}">{{group.name}}</option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <label
                                    for="caro-subcategory"
                                    class="col-lg-2 col-form-label ms-1 ms-lg-0 fw-bold"
                                    >Subcategories</label
                                  >
                                  <div class="col-lg-10">
                                    <select name="caro-subcategory" id="caro-subcategory" multiple>
                                      {% for subcategory in subcategories %}
                                        <option value="{{subcategory.id}}">{{subcategory.name}}</option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                </div>
                                <div class="row mb-1">
                                  <label
                                    for="caro-enable"
                                    class="col-2 col-form-label"
                                    >Status</label
                                  >
                                  <div class="col-lg-10 mt-2">
                                    <div class="checkbox-fade fade-in-primary">
                                      <label>
                                        <input id="caro-enable" type="checkbox" name="caro-enable"/>
                                        <span class="cr">
                                          <i
                                            class="
                                              cr-icon
                                              icofont icofont-ui-check
                                              txt-primary
                                            "
                                          ></i>
                                        </span>
                                        <span>Enable this carousel</span>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                <div class="row mb-3 mt-4">
                                  <div class="col-sm-10 offset-lg-2">
                                    <button
                                      id="save-btn"
                                      type="submit"
                                      class="btn btn-primary py-1 px-3"
                                    >
                                      Add Menu
                                    </button>
                                    {% comment %} <button
                                      id="cancel-btn"
                                      type="submit"
                                      class="btn btn-secondary py-1 px-3"
                                    >
                                      Cancel
                                    </button> {% endcomment %}
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
    {% endblock main %}

    {% block script %}
    {% comment %} <script src="{% static 'control/js/table/jquery.dataTables.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'control/js/table/dataTables.buttons.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'control/dropzone/dropzone.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/export/bootstrap-table-export.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/filter-control/utils.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/toolbar/bootstrap-table-toolbar.js' %}"></script>
    <script src="{% static 'control/tableexport/tableExport.min.js' %}"></script>
    <script src="{% static 'control/ckeditor/build/ckeditor.js' %}"></script>
    <script src="{% static 'control/ckeditor/build/style.js' %}"></script>
    <script src="{% static 'control/js/tail.select-full.js' %}"></script>
    <script src="{% static 'control/js/form-masking/inputmask.js' %}"></script>
    <script src="{% static 'control/js/form-masking/jquery.inputmask.js' %}"></script>
    <script src="{% static 'control/js/form-masking/autoNumeric.js' %}"></script>
    <script src="{% static 'control/js/form-masking/form-mask.js' %}"></script>
    <script src="{% static 'control/jquery.filer/js/jquery.filer.min.js' %}"></script>
    <script src="{% static 'control/filer/custom-filer.js' %}"></script>
    <script src="{% static 'control/virtual-select/virtual-select.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-tagsinput/dist/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'control/filer/jquery.fileuploads.init.js' %}"></script>
    <script src="{% static 'control/countries.json' %}"></script>
    <script src="{% static 'control/fontawesome.json' %}"></script>
    <script src="{% static 'control/font5.json' %}"></script>
    <script src="{% static 'control/js/icons.js' %}"></script>
    <script src="{% static 'control/js/Sortable.js' %}"></script>
    <script>
      const dragArea = document.querySelector(".wrapper");
      var sortable = new Sortable(dragArea, {
        animation: 350,
        handle: '.drag',
        onSort: function(){
          elm = $(".caro-item")
          var ids = []
          for(i=0; i < elm.length; i++){
            ids.push(elm[i].getAttribute("id"))
          }
          ids = String(ids)
          $.ajax({
            url:"/control/carousel/update",
            type:"POST",
            data:{carousel_id: ids, action: "update"},
            success: function(result) {
              new PNotify({
                title: 'Successfully updated',
                type: 'success',
                addclass: 'stack-bottom-right',
                icon: true,
                delay: 2500
              });
            },
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            },
            error: function(e){
                console.error(JSON.stringify(e));
            },
          });
        }
      })
    </script>
    {% endblock script %}