{% extends 'control/base.html' %}
{% load static %}

{% block title %}{{site_config.name}} | Users{% endblock title %}

    {% block style %}
    <link
      rel="stylesheet"
      href="{% static 'control/css/table/dataTables.bootstrap4.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'control/css/table/responsive.bootstrap4.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'control/virtual-select/virtual-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/bootstrap-table.min.css' %}" />
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.css' %}">
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.css' %}">
    <link rel="stylesheet" href="{% static 'control/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.css' %}">
    <link rel="stylesheet" href="{% static 'control/css/style.css' %}" />
    {% endblock style %}

    {% block main %}
      {% if user_info %}
        <h5 class="fw-bold mb-2">{{user_info.first_name}} {{user_info.last_name}}</h5>
      {% else %}
        <h3 class="fw-bold">User's</h3>
      {% endif %}
      {% if not user_info %}
      <div class="card user-list">
          <div class="card-header">
            <h5>All User</h5>
            <div class="card-header-right me-3">
              <button class="btn btn-add add-user-btn p-2">
                <i class="fa fa-plus px-2 m-0"></i>Add User
              </button>
            </div>
          </div>
          <div class="card-block">
            <div class="dt-responsive table-responsive">
              <div id="toolbar">
                <button id="remove" class="btn btn-danger" disabled>
                  <i class="fa fa-trash"></i> Delete
                </button>
              </div>
              <table
              id="user-list"
              data-toolbar="#toolbar"
              data-toggle="table"
              data-sticky-header="true"
              data-sticky-header-offset-y="40"
              data-pagination="true"
              data-page-list="[10, 25, 50, 100, ALL]"
              data-search="true"
              data-search-highlight="true"
              data-show-toggle="true"
              data-show-export="true"
              data-export-types="['csv','json', 'doc']"
              data-export-options='{
                "fileName": "userlist"
              }'
              data-filter-control="true"
              data-show-multi-sort="true"
              data-fixed-columns="true"
              data-fixed-number="1"
              data-show-columns="true"
              data-show-columns-toggle-all="true"
              data-show-toggle="true"
              data-show-fullscreen="true"
              data-show-pagination-switch="true"
              {% comment %} data-detail-view="true" {% endcomment %}
              {% comment %} data-sticky-header = "true" {% endcomment %}
              data-checkbox = "true"
              class="table table-bordered no-border nowrap"
              >
                <thead>
                  <tr>
                    <th data-checkbox="true" ></th>
                    <th data-sortable="true" data-valign="middle">Full Name</th>
                    <th data-sortable="true" data-valign="middle">Email</th>
                    <th data-sortable="true" data-valign="middle">Status</th>
                    <th data-sortable="true" data-valign="middle">Join On</th>
                    <th data-sortable="true" data-valign="middle">Last Login</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in users %}
                  <tr>
                    <td data-checkbox-enabled="false"></td>
                    <td class="fw-bold product-title"><a class="text-decoration-none" href="/control/user/{{item.id}}">{{item.first_name}} {{item.last_name}}</a></td>
                    <td>{{item.email}}</td>
                    <td>{% if item.is_superuser %}Admin{% elif not item.superuser and item.is_staff %}Staff{% else %}User{% endif %}</td>
                    <td>{{item.date_joined|date}}</td>
                    <td>{% if item.profile_info.online %}<i class="far fa-dot-circle text-success me-2"></i>{% endif %}{{item.last_login|timesince}}{% if item.last_login %} ago{% else %}-{% endif %}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                {% comment %} <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>{{product.status}}</th>
                    <th>Amount</th>
                    <th>Created</th>
                  </tr>
                </tfoot> {% endcomment %}
              </table>
            </div>
          </div>
      </div>
      <div class="add-user-sec d-none card">
          <div class="container-fluid">
            <div class="row m-2 p-3 bg-white">
              <div class="product-menu col-xl-3 col-lg-4">
                <div class="menu-sec">
                  <div
                    class="menu disable d-flex flex-fill justify-content-between selected"
                  >
                    <span>User Information</span>
                    {% comment %} <span class="arrow"><i class="fa fa-angle-right"></i></span> {% endcomment %}
                  </div>
                  <ul class="submenu">
                    <li class="selected" for="coupon-general">
                      <p class="m-0 p-0">Account</p>
                    </li>
                    <li for="coupon-usage-restriction">
                      <p class="m-0 p-0">Permission</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="products-form col-xl-9 col-lg-8 ps-lg-5">
                <form class="mt-2" id="add-category-form">
                  <div id="coupon-general" class="product-form">
                    <h6 class="mt-2 text-primary fw-bolder h4">Accounnt</h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >First Name</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="First Name"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Last Name</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Last Name"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Email</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="email"
                          class="form-control"
                          name="quantity"
                          placeholder="Email"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="add-discount-type"
                        class="col-xl-2 col-form-label d-none d-xl-block"
                        >Roles</label
                      >
                      <div class="col-xl-10">
                        <select id="add-discount-type" name="roles">
                          <option value="admin">Admin</option>
                          <option value="staff">Staff</option>
                          <option value="customer">Customer</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Password</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="password"
                          class="form-control"
                          name="quantity"
                          placeholder="Password"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Confirm Password</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="password"
                          class="form-control"
                          name="quantity"
                          placeholder="Confirm Password"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <button
                          id="cancel-btn"
                          type="submit"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                  <div id="coupon-usage-restriction" class="product-form d-none">
                    <h6 class="mt-2 text-primary fw-bolder h4">
                      Permission
                    </h6>
                    <hr />
                    <div class="row mb-3">
                      <div class="ps-3 d-flex flex-fill justify-content-end">
                          <span>
                            <span class="permission-btn f-18 allow-all" ids="allow-all">Allow All</span>
                            <span class="permission-btn f-18 deny-all" ids="deny-all">Deny All</span>
                            <span class="permission-btn f-18 inherit-all" ids="inherit-all">Inherit All</span>
                          </span>
                        </div>
                      <ul>
                      {% for p in permis %}
                        <li><div class="mt-3 fw-bold f-24">{% ifchanged p.app_label %}{{p.app_label}}{% endifchanged %}</div></li>
                        {% ifchanged p.app_label %}<hr class="mt-0 p-0 mb-3">{% endifchanged %}
                        <div>
                        <div class="ps-3 d-flex flex-fill justify-content-between">
                          <span class="fw-bold f-20">{{p.name}}</span>
                          <span>
                            <span class="permission-btn" ids="allow">Allow All</span>
                            <span class="permission-btn" ids="deny">Deny All</span>
                            <span class="permission-btn" ids="inherit">Inherit All</span>
                          </span>
                        </div>
                        {% for all in p.contents.all %}
                          <li class="ps-4 ms-2 my-3">
                            <div class="d-flex flex-fill justify-content-between">
                              <span>{{all.name}}</span>
                              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input class="radio-btn" ids="allow-btn" type="radio" name="{{p.app_label}}{{p.name}}{{forloop.counter}}" autocomplete="off" checked>
                                <label class="me-3">Allow</label>

                                <input class="radio-btn" ids="deny-btn" type="radio" name="{{p.app_label}}{{p.name}}{{forloop.counter}}" autocomplete="off">
                                <label class="me-3">Deny</label>

                                <input class="radio-btn" ids="inherit-btn" type="radio" name="{{p.app_label}}{{p.name}}{{forloop.counter}}" autocomplete="off">
                                <label>Inherit</label>
                              </div>
                            </div>
                          </li>
                        {% endfor %}
                        </div>
                      {% endfor %}
                      </ul>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% else %}
      <div class="edit-user-sec d-none card">
          <div class="container-fluid">
            <div class="row m-2 p-3 bg-white">
              <div class="product-menu col-xl-3 col-lg-4">
                <div class="menu-sec">
                  <div
                    class="menu disable d-flex flex-fill justify-content-between selected"
                  >
                    <span>User Information</span>
                    {% comment %} <span class="arrow"><i class="fa fa-angle-right"></i></span> {% endcomment %}
                  </div>
                  <ul class="submenu">
                    <li class="selected" for="coupon-general">
                      <p class="m-0 p-0">Personal Info</p>
                    </li>
                    <li for="coupon-usage-restriction">
                      <p class="m-0 p-0">Permissions</p>
                    </li>
                    <li for="coupon-usage-limit">
                      <p class="m-0 p-0 coupon-usage-limit">Statistics</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="products-form col-xl-9 col-lg-8 ps-lg-5">
                <form class="mt-2" id="add-category-form">
                  <div id="coupon-general" class="product-form">
                    <h6 class="mt-2 text-primary fw-bolder h4">Personal Info</h6>
                    <hr />
                    <nav class="profile-sec-nav">
                      <div class="nav nav-pills" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Basic</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Security</button>
                      </div>
                    </nav>
                    <div class="tab-content mt-4" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row mb-3">
                          <label
                            for="inputEmail3"
                            class="col-sm-2 col-form-label d-none d-xl-block"
                            >First Name</label
                          >
                          <div class="col-xl-10">
                            <input
                              type="text"
                              class="form-control"
                              id="name"
                              placeholder="First Name"
                            />
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label
                            for="inputEmail3"
                            class="col-sm-2 col-form-label d-none d-xl-block"
                            >Last Name</label
                          >
                          <div class="col-xl-10">
                            <input
                              type="text"
                              class="form-control"
                              id="name"
                              placeholder="Last Name"
                            />
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label
                            for="inputEmail3"
                            class="col-sm-2 col-form-label d-none d-xl-block"
                            >Email</label
                          >
                          <div class="col-xl-10">
                            <input
                              type="email"
                              class="form-control"
                              id="name"
                              placeholder="Email"
                            />
                          </div>
                        </div>
                        <div class="row mb-1">
                          <label
                            for="inputEmail3"
                            class="col-sm-2 col-form-label d-none d-xl-block"
                            >Status</label
                          >
                          <div class="col-xl-10">
                            <div class="checkbox-fade fade-in-primary">
                              <label>
                                <input id="enable" type="checkbox" value="" />
                                <span class="cr">
                                  <i
                                    class="
                                      cr-icon
                                      icofont icofont-ui-check
                                      txt-primary
                                    "
                                  ></i>
                                </span>
                                <span>Allow free shipping</span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-sm-10 offset-lg-2">
                            <button
                              id="save-btn"
                              type="submit"
                              class="btn btn-primary py-1 px-3"
                            >
                              Save
                            </button>
                            <button
                              id="cancel-btn"
                              type="submit"
                              class="btn btn-secondary py-1 px-3"
                            >
                              Cancel
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Profile</div>
                    </div>
                  </div>
                  <div id="coupon-usage-restriction" class="product-form d-none">
                    <h6 class="mt-2 text-primary fw-bolder h4">
                      Usage Restrictions
                    </h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Minimum Spend</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="number"
                          class="form-control"
                          id="name"
                          placeholder="Minimum Spend"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Maximum Spend</label
                      >
                      <div class="col-xl-10">
                        <input
                          type="number"
                          class="form-control"
                          id="name"
                          placeholder="Maximum Spend"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Products</label
                      >
                      <div class="col-xl-10">
                        <select multiple id="products-select" placeholder="Select Products">
                          {% for product in products %}
                          <option value="{{product.id}}">{{product.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Exclude Products</label
                      >
                      <div class="col-xl-10">
                        <select
                          multiple
                          id="exclude-products-select"
                          placeholder="Select Products"
                        >
                          {% for product in products %}
                          <option value="{{product.id}}">{{product.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Categories</label
                      >
                      <div class="col-xl-10">
                        <select
                          multiple
                          id="categories-select"
                          placeholder="Select Categories"
                        >
                          {% for category in categories %}
                          <option value="{{category.id}}">{{category.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Exclude Categories</label
                      >
                      <div class="col-xl-10">
                        <select
                          multiple
                          id="exclude-categories-select"
                          placeholder="Select Categories"
                        >
                          {% for category in categories %}
                          <option value="{{category.id}}">{{category.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <button
                          id="cancel-btn"
                          type="submit"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                  <div id="coupon-usage-limit" class="product-form d-none">
                    <h6 class="mt-2 text-primary fw-bolder h4">Usage Limits</h6>
                    <hr />
                    <br />
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Usage Limit Per Coupon</label
                      >
                      <div class="col-xl-10">
                        <input type="number" class="form-control" id="name" />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="inputEmail3"
                        class="col-sm-2 col-form-label d-none d-xl-block"
                        >Usage Limit Per Customer</label
                      >
                      <div class="col-xl-10">
                        <input type="number" class="form-control" id="name" />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm-10 offset-lg-2">
                        <button
                          id="save-btn"
                          type="submit"
                          class="btn btn-primary py-1 px-3"
                        >
                          Save
                        </button>
                        <button
                          id="cancel-btn"
                          type="submit"
                          class="btn btn-secondary py-1 px-3"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white card">
        
      </div>
      {% endif %}
    {% endblock main %}

    {% block script %}
    <script>
      $(".menu.users").addClass("selected");
      $(".menu.users").addClass("active");
    </script>
    <script src="{% static 'control/js/table/jquery.dataTables.min.js' %}"></script>
    {% comment %} <script src="{% static 'control/js/table/dataTables.buttons.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'control/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/export/bootstrap-table-export.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.js' %}"></script>
    <script src="{% static 'control/bootstrap-table/dist/extensions/toolbar/bootstrap-table-toolbar.js' %}"></script>
    <script src="{% static 'control/tableexport/tableExport.min.js' %}"></script>
    <script src="{% static 'control/virtual-select/virtual-select.min.js' %}"></script>
    {% endblock script %}