{% load static %}
{% load solo_tags %}
{% get_solo 'setting.SiteConfiguration' as site_config %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'admin/icon/font-awesome/css/font-awesome.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'admin/icon/icofont/css/icofont.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/css/navigation-copy.css' %}" />
    {% block style %}{% endblock style %}
  </head>
  <body>
    <nav class="top-nav d-flex justify-content-between" id="topnav">
      <div class="left d-flex align-items-center">
        <span class="px-2" id="menu-btn"><i class="fa fa-bars"></i></span>
        <div class="px-2">
          <img class="logo" src="{{site_config.logo.url}}" alt="logo" />
        </div>
      </div>
      <div class="right d-flex align-items-center notification-drop">
        <span class="px-2 notification">
          <i class="fa fa-bell"></i>
          <div class="notification-sec bg-success">
            This is notification section
          </div>
        </span>
        <span class="px-2 message"><i class="fa fa-comments"></i></span>
        <span class="px-2 profile"><i class="icofont icofont-user-alt-5 icofont-lg me-3"></i></span>
      </div>
    </nav>

    <div>
      <div class="sidenav" id="sidenav">
        <ul>
          <li>
            <a href="/control/">
                <div class="menu dashboard">
                    <i class="fa fa-dashboard fa-left"></i>
                    <span>Dashboard</span>
                </div>
            </a>
          </li>
          <li>
            <div class="menu products">
              <i class="fa fa-cube fa-left"></i>
              <span>Products</span>
              <span class="arrow"><i class="fa fa-angle-right"></i></span>
            </div>
            <ul class="submenu">
              <li class="product"><a href="/control/product">Product</a></li>
              <li class="category"><a href="">Category</a></li>
            </ul>
          </li>
          <li>
            <div class="menu">
              <i class="fa fa-dollar fa-left"></i>
              <span>Sales</span>
              <span class="arrow"><i class="fa fa-angle-right"></i></span>
            </div>
            <ul class="submenu">
              <li><a href="">User</a></li>
              <li><a href="">group</a></li>
            </ul>
          </li>
          <li>
            <div class="menu">
              <i class="fa fa-tags fa-left"></i>
              <span>Coupons</span>
            </div>
          </li>
          <li>
            <div class="menu">
              <i class="fa fa-file fa-left"></i>
              <span>Pages</span>
            </div>
          </li>
          <li>
            <div class="menu">
              <i class="fa fa-camera fa-left"></i>
              <span>Media</span>
            </div>
          </li>
          <li>
            <div class="menu">
              <i class="fa fa-bars fa-left"></i>
              <span>Menus</span>
            </div>
          </li>
          <li class="text-center py-2 header">System</li>
          <li>
            <div class="menu">
              <i class="fa fa-users fa-left"></i>
              <span>Users</span>
              <span class="arrow"><i class="fa fa-angle-right"></i></span>
            </div>
            <ul class="submenu">
              <li><a href="">User</a></li>
              <li><a href="">group</a></li>
              <li><a href="">group</a></li>
            </ul>
          </li>
          <li>
            <div class="menu">
              <i class="fa fa-globe fa-left"></i>
              <span>Localization</span>
              <span class="arrow"><i class="fa fa-angle-right"></i></span>
            </div>
            <ul class="submenu">
              <li><a href="">User</a></li>
              <li><a href="">group</a></li>
            </ul>
          </li>
          <li>
            <div class="menu">
              <i class="fa fa-paint-brush fa-left"></i>
              <span>Appearance</span>
              <span class="arrow"><i class="fa fa-angle-right"></i></span>
            </div>
            <ul class="submenu">
              <li><a href="">User</a></li>
              <li><a href="">group</a></li>
            </ul>
          </li>
          <li>
            <div class="menu">
              <i class="fa fa-bar-chart-o fa-left"></i>
              <span>Reports</span>
            </div>
          </li>
          <li>
            <div class="menu">
              <i class="fa fa-cogs fa-left"></i>
              <span>Settings</span>
            </div>
          </li>
        </ul>
      </div>
      {% block main %}{% endblock main %}
    </div>

    <script src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/sidenav.js' %}"></script>
    {% block script %}{% endblock script %}
    <script src="{% static 'admin/js/main.js' %}"></script>
  </body>
</html>
