{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% mycurrency as mycurrency %}
{% load humanize %}
{% block title %}Checkout - {{site_config.name}}{% endblock title %}
{% block custom %}
    <main class="main">
        	<div class="page-header text-center" style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            				<form class="d-flex" method="post">
								{% csrf_token %}
        						<input type="text" class="form-control" name="coupon-code" required id="checkout-discount-input">
            					<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
								<button type="submit" class="text-nowrap"><i class="fas fa-arrow-right"></i></button>
            				</form>
            			</div><!-- End .checkout-discount -->
						{% for message in messages %}
						{% if 'cpn-error' in message.extra_tags %}
							<p style="margin-top: -15px; margin-left: 10px;" class="text-danger">{{message}}</p>
						{% endif %}
						{% endfor %}
            			<form method="post" id="checkout-form" class="needs-validation" novalidate>
							{% csrf_token %}
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
									<input type="hidden" name="cartid" value="{{mycart.cart.id}}">
		                				<div class="row">
		                					<div class="col-sm-6">
		                						<label>First Name *</label>
		                						<input type="text" class="form-control" name="first_name" id="first_name" {% if user.is_authenticated %}value="{{user.first_name}}"{% endif %} required>
												<span class="invalid-feedback">Please enter first name</span>
											</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>Last Name *</label>
		                						<input type="text" class="form-control" name="last_name" id="last_name" {% if user.is_authenticated %}value="{{user.last_name}}"{% endif %} required>
												<span class="invalid-feedback">Please enter last name</span>
											</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

	            						<label>Company Name (Optional)</label>
	            						<input type="text" name="company_name" id="company_name" class="form-control">

	                					<label>Email address *</label>
										<div>
											<input type="email" name="email" id="email" class="form-control" value="{{user.email}}" required>
											<span class="invalid-feedback">Please enter email address</span>
										</div>

	                					<label>Phone *</label>
										<div>
											<input type="text" id="phone" name="phone" class="form-control" required>
											<span class="invalid-feedback">Please enter phone</span>
										</div>

	        							{% comment %} <div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="checkout-create-acc">
											<label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
										</div><!-- End .custom-checkbox --> {% endcomment %}

										{% if user.address_book.all|length > 0 %}
										<div class="address-book-sec">
											<label for="address-book-sec">Address Book</label>
											<div id="address-book-sec">
												{% for address in user.address_book.all %}
												<div class="form-check form-check-inline">
													<input class="form-check-input d-none address_book" type="radio" name="address_book" id="address_book_{{forloop.counter}}" value="{{address.id}}" {% if forloop.counter == 1 %}checked{% endif %}>
													<label class="form-check-label" for="address_book_{{forloop.counter}}">{{address.name}}</label>
												</div>
												{% endfor %}
											</div>
										</div>
										{% endif %}

										<div class="custom-control custom-checkbox {% if user.address_book.all|length == 0 %}d-none{% endif %}">
											<input type="checkbox" class="custom-control-input" value="{% if user.address_book.all|length == 0 %}on{% else %}off{% endif %}" name="diff-address" id="checkout-diff-address" {% if user.address_book.all|length == 0 %}checked{% endif %}>
											<label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
										</div><!-- End .custom-checkbox -->

										{% if user.address_book.all|length == 0 %}
											<h2 class="checkout-title bold">Address Book</h2>
										{% endif %}
										<div id="new-address" class="{% if user.address_book.all|length > 0 %}d-none{% endif %}">
			                				<div class="row">
                                                <div class="col-sm-4">
                                                    <label>Country *</label>
                                                    <select class="form-control ab-country" name="add-country" id="add-country" {% if user.address_book.all|length == 0 %}required{%endif%}>
														<option value=""></option>
                                                        {% for country in countrys %}
                                                            <option value="{{country.id}}">{{country.name}}</option>
                                                        {% endfor %}
                                                    </select>
													<div class="invalid-feedback">Please select country</div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label>Region *</label>
                                                    <select class="form-control ab-region" name="add-region" id="add-region" disabled {% if user.address_book.all|length == 0 %}required{%endif%}>
                                                    </select>
													<div class="invalid-feedback">Please select region</div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label>City *</label>
                                                    <select class="form-control ab-city" name="add-city" id="add-city" disabled {% if user.address_book.all|length == 0 %}required{%endif%}>
                                                    </select>
													<div class="invalid-feedback">Please select city</div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Area *</label>
                                                    <select class="form-control ab-area" name="add-area" id="add-area" disabled {% if user.address_book.all|length == 0 %}required{%endif%}>
                                                    </select>
													<div class="invalid-feedback">Please select area</div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label>Address *</label>
                                                    <input type="text" class="form-control" name="address" id="address" {% if user.address_book.all|length == 0 %}required{%endif%}>
													<div class="invalid-feedback">Please enter address</div>
                                                </div>
                                            </div><!-- End .row -->
			                			</div>

	                					<label>Order notes (optional)</label>
	        							<textarea class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery" id="notes"></textarea>
		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th><span class="fw-bolder h5">Product</span></th>
		                							<th><span class="fw-bolder h5">Total</span></th>
		                						</tr>
		                					</thead>

		                					<tbody>
												{% for item in mycart.cart.carts.all %}
		                						<tr>
		                							<td class="py-1">{{forloop.counter}}. {{item.product.title}}</td>
		                							<td>{{item.quantity}} X {{mycurrency.1}}{{item.total|mult:mycurrency.0|floatformat:2|intcomma}}</td>
		                						</tr>
												{% endfor %}
		                						<tr>
		                							<td class="py-3 bolden">Subtotal:</td>
		                							<td>{{mycurrency.1}}{{mycart.subtotal|mult:mycurrency.0|floatformat:2|intcomma}} ({{mycart.cart.carts.all|length}} item{% if mycart.cart|length > 1 %}s{% endif %})</td>
		                						</tr><!-- End .summary-subtotal -->
		                						{% if mycart.cart.coupon.all|length > 0 %}
													<tr>
														<td class="py-1 bolden">Coupon:</td>
														<td></td>
													</tr>
													{% for coupon in mycart.cart.coupon.all %}
														<tr>
															<td><i class="fas fa-dot-circle px-3 text-primary small"></i>{{coupon.code}}</td>
															{% if coupon.discount_type == 'Fixed' %}
																<td>-{{mycurrency.1}}{{coupon.value|mult:mycurrency.0|floatformat:2|intcomma}}</td>
															{% else %}
																<td>-{{coupon.value}}%</td>
															{% endif %}
														</tr><!-- End .summary-subtotal -->
													{% endfor %}
												{% endif %}
												{% if mycart.ship %}
													<tr>
														<td class="pt-1 bolden">Shiping Method</td>
														<td></td>
													</tr>
													<tr>
														<td><i class="fas fa-dot-circle px-3 text-primary small"></i>{{mycart.ship_name}}:</td>
														<td>{{mycurrency.1}}{{mycart.ship_cost|mult:mycurrency.0|floatformat:2|intcomma}}</td>
													</tr>
												{% endif %}
												<tr>
													<td class="py-3 bolden h6">Total:</td>
													<td id="total-cost">{{mycurrency.1}}{{mycart.total_cost|mult:mycurrency.0|floatformat:2|intcomma}}</td >
												</tr>
												<p class="d-none" id="usd"></p>
												<p class="d-none" id="rate"></p>
												<input type="hidden" name="rate" id="rate-input">
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
											<h5 class="mt-2">Payment:</h5>
										    <div class="card">
										        <div class="card-header" id="heading-3">
										            <h2 class="card-title">
										                <a class="" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
										                    Cash on delivery
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-3" class="collapse show" aria-labelledby="heading-3" data-parent="#accordion-payment">
										            <div class="card-body">{{cashon.about}}</div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

											{% if paypal.client_id %}
										    <div class="card">
										        <div class="card-header" id="heading-4">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="true" aria-controls="collapse-4">
										                    PayPal
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
										            <div class="card-body">
										                <div id="smart-button-container">
															<div style="text-align: center;">
																<div id="paypal-button-container"></div>
															</div>
														</div>
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->
											{% endif %}
										</div><!-- End .accordion -->

		                				<button type="submit" id="submit-btn" class="btn btn-outline-primary-2 btn-order btn-block">Proceed to Checkout</button>
										{% comment %} <div class="btn btn-success" id="btn">Check</div> {% endcomment %}
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
		<input type="hidden" id="total-amount" value="{{mycart.total_cost|mult:mycurrency.0|floatformat:2}}">
		<input type="hidden" id="total-amount-usd" value="{{mycart.total_cost|mult:mycurrency.0|floatformat:2}}">
{% endblock custom %}

{% block extra_js %}
    <script src="{% static 'assets/add-product.js' %}"></script>
    <script src="{% static 'assets/profile.js' %}"></script>
	<script src="https://www.paypal.com/sdk/js?client-id={{paypal.client_id}}&disable-funding=venmo,credit&currency=USD" data-sdk-integration-source="button-factory"></script>
	<script src="{% static 'assets/checkout.js' %}"></script>
{% endblock extra_js %}