.inline-deletelink{
    display: none !important;
}

fieldset.module table th:last-child{
    display: none !important;
}

fieldset.module table{
    overflow: hidden;
}

fieldset.module table th{
    white-space: nowrap;
}

fieldset.module table td{
    vertical-align: middle;
}

fieldset.module {
    overflow: auto;
}

fieldset.module h2:nth-child(1){
    position: sticky;
    left: 0;
}

fieldset.module .add-row td a{
    position: sticky;
    left: 15px;
}