
{% extends 'home/base.html' %}

{% block custom %}
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            {% if shopcart %}
            <div class="col-12">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="li-product-remove">remove</th>
                                    <th class="li-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="li-product-price">Unit Price</th>
                                    <th class="li-product-quantity">Quantity</th>
                                    <th class="li-product-subtotal">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart in shopcart %}
                                <tr>
                                    <td class="li-product-remove"><a href="{% url 'cartdelete' id=cart.product.id %}"><i class="fa fa-times"></i></a></td>
                                    <td class="li-product-thumbnail"><a href="#"><img style="max-height: 80px; width:auto;" src="{{cart.product.image.url}}" alt="Li's Product Image"></a></td>
                                    <td class="li-product-name"><a href="/products/{{cart.product.id}}">{{cart.product.title}}</a></td>
                                    <td class="li-product-price">&#2547;<span class="amount">{{cart.product.price}}</span></td>
                                    <td class="quantity">
                                        <label>Quantity</label>
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" id="inp{{cart.id}}" value="{{cart.quantity}}" type="text">
                                            <div class="dec qtybutton" onclick="desc('dec', {{cart.product.amount}}, {{cart.product.price}}, {{cart.id}}, {{cart.product.id}})"><i class="fa fa-angle-down" ></i></div>
                                            <div class="inc qtybutton" onclick="desc('inc', {{cart.product.amount}}, {{cart.product.price}}, {{cart.id}}, {{cart.product.id}})"><i class="fa fa-angle-up"></i></div>
                                        </div>
                                    </td>
                                    <td class="product-subtotal">&#2547;<span class="amount" id="product-total{{cart.id}}">{{cart.cost}}</span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        {% for cart in shopcart %}
                        {% if forloop.first %}
                        <div class="col-12" id="coupon-fail" style="color: red; margin-bottom: -18px;"></div>
                        <div class="col-md-6">
                            {% if not cart.coupon_active %}
                            <div class="coupon-all" id="coupon-all">
                                <div class="coupon">
                                    <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                    <input class="button" name="apply_coupon" value="Apply coupon" type="submit" onclick="addCoupon()">
                                </div>
                            </div>
                            {% endif %}
                            <div class="{% if cart.coupon_active %}d-flex{% else %}d-none{% endif %} ml-35 mt-10 align-items-center" id="coupon-added">
                                <div class="bg-success pl-10 pr-10 pt-5 pb-5 text-white">
                                    <i class="fa fa-check-square-o mr-10 fa-lg"></i><span>Coupon have been added</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="col-md-6 ml-auto">
                            <div class="cart-page-total">
                                <h2 class="mt-0 pt-0">Cart totals</h2>
                                <ul>
                                    <li>Subtotal <span>&#2547;130.00</span></li>
                                    <li>Total <span id="total-cost">&#2547;{{cost}}</span></li>
                                </ul>
                                <a href="#">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Subtotal <span>$130.00</span></li>
                                    <li>Total <span>$130.00</span></li>
                                </ul>
                                <a href="#">Proceed to checkout</a>
                            </div>
                        </div>
                    </div> {% endcomment %}
            </div>
            {% else %}
            <div class="col">
                <div class="d-flex flex-fill justify-content-center">
                    <a href="/" class="btn btn-secondary">Continue shopping</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!--Shopping Cart Area End-->
{% endblock custom %}