:root {
  --left1: #2a394f;
  --left2: #624e89;
  --left3: #3c4fb1;
  --left4: #2c3e50;
  --left5: #2ed8b6;
  --left6: #3f5485;
  --white: #ffffff;
}

.top-nav p,
.sidenav p {
  padding: 0;
  margin: 0;
}

/* top nav section */
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--left6);
  color: var(--white);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
  z-index: 100;
  box-sizing: border-box;
}

.top-nav #menu-btn:hover {
  cursor: pointer;
}

.top-nav .logo {
  max-height: 44px;
  width: auto;
  padding: 10px;
}

.top-nav .notification {
  padding: 10px 0;
}

.top-nav #menu-btn {
  margin-left: 10px;
}

/* side nav section */
.sidenav {
  position: fixed;
  padding-top: 20px;
  top: 40px;
  bottom: 0;
  left: 0;
  /* padding-top: 100px; */
  width: 230px;
  font-size: 15px;
  background-color: var(--left1);
  z-index: 99;
  transition: 0.3s;
  color: var(--white);
  overflow-y: auto;
}

.sidenav.expand {
  width: 58px;
  transition: 0.3s;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidenav.expand:hover{
  width: 230px;
}

.sidenav.expand ul li .menu span {
  visibility: hidden;
}

.sidenav.expand:hover ul li .menu span {
  visibility: visible;
}

.sidenav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidenav ul li a{
  text-decoration: none;
}

.sidenav li .menu {
  padding: 14px 15px 14px 20px;
  font-size: 13px;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

.sidenav li .menu:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.171);
}

.sidenav li .menu.selected {
  background-color: rgba(112, 112, 112, 0.384);
  /* border-left: 3px solid rgb(26, 188, 156); */
}

.sidenav li .menu.active {
  background-color: rgba(112, 112, 112, 0.384);
  border-left: 3px solid rgb(26, 188, 156);
}

.sidenav li .menu.selected .arrow {
  transform: rotate(90deg);
}

.sidenav li .menu.selected ~ ul {
  height: var(--height);
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.sidenav.expand li .menu.selected ~ ul {
  height: 0;
}

.sidenav.expand:hover li .menu.selected ~ ul {
  height: var(--height);
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.sidenav .menu .fa-left {
  width: 20px;
}

.sidenav .menu .arrow {
  position: absolute;
  right: 15px;
  transition: 0.3s;
}

.sidenav.expand li.header {
  display: none;
}

.sidenav.expand:hover li.header {
  display: block;
}

.sidenav.expand .menu .arrow {
  right: -100px;
}

.sidenav.expand:hover .menu .arrow {
  right: 15px;
}

.sidenav .submenu {
  height: 0;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  background-color: #172131;
}

.sidenav .submenu li.selected a{
  color: white;
  font-weight: bold;
}

.sidenav .submenu li:first-child {
  margin-top: 10px;
}

.sidenav .submenu li:last-child {
  margin-bottom: 10px;
}

.sidenav .submenu li {
  padding: 5px 7px 5px 45px;
}

.sidenav .submenu li:hover {
  cursor: pointer;
}

.sidenav .submenu li:hover a {
  color: white;
}

.sidenav .submenu li a {
  text-decoration: none;
  color: rgb(155, 155, 155);
}

.sidenav li.header {
  background-color: #171d2586;
  color: #747f8d;
  margin-left: -12px;
}

.main {
  position: absolute;
  left: 230px;
  top: 44px;
  bottom: 0;
  right: 0;
  transition: 0.3s;
}

.main.expand {
  left: 58px;
  transition: 0.3s;
}

.dashboard .total-sale,
.dashboard .total-order,
.dashboard .total-product,
.dashboard .total-customer {
  height: 150px;
  border-radius: 10px;
  border: 1px solid gray;
}

@media screen and (max-width: 640px) {
  .top-nav #menu-btn {
    display: none;
  }
}

.card-header {
  margin-bottom: 10px;
}

.btn-add {
  background-color: rgba(63, 84, 133, 0.8);
  color: white;
}

.btn-add:hover {
  background-color: rgba(39, 58, 102, 0.8);
  color: white;
}

table {
  margin-top: 5px;
}

table.no-border td,
table.no-border th {
  border: none;
}

.table > thead > tr > th {
  border-bottom: 2px solid rgb(224, 224, 224);
  border-left: none;
  border-right: none;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: inherit;
}

/*! Add product section */

.product-menu {
  min-width: 220px;
  max-width: 220px;
  border-radius: 6px;
  padding: 5px 0;
}

.product-menu .menu-sec {
  border-left: 1px solid rgba(128, 128, 128, 0.308);
  border-top: 1px solid rgba(128, 128, 128, 0.308);
  /* border-right: 1px solid rgba(128, 128, 128, 0.308); */
  border-bottom: none;
}

.product-menu .menu-sec:last-child {
  border-bottom: 1px solid rgba(128, 128, 128, 0.308);
}

.product-menu .menu-sec .menu {
  padding: 10px 25px;
  border-right: 1px solid rgba(128, 128, 128, 0.308);
}

.product-menu .menu-sec ul li {
  padding: 10px 10px;
  margin-left: 15px;
  height: 40px;
  border-left: 4px solid transparent;
  border-top: 1px solid none;
  border-right: 1px solid rgba(128, 128, 128, 0.308);
  border-bottom: 1px solid none;
}

.product-menu .menu-sec ul li:first-child {
  margin-top: 10px;
}

.product-menu .menu-sec ul li:first-child::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 2px;
  border-left: 1px solid rgba(128, 128, 128, 0.308);
  position: relative;
  right: -189px;
  top: -47.6px;
  /* background-color: red; */
}

.product-menu .menu-sec ul li:last-child::after {
  content: "";
  position: absolute;
  border-left: 1px solid rgba(128, 128, 128, 0.308);
  position: relative;
  right: -189px;
  bottom: -7.1px;
  /* background-color: red; */
}

.product-menu .menu-sec ul li:last-child {
  margin-bottom: 10px;
}

.product-menu .menu-sec .menu:hover,
.product-menu .menu-sec ul li:hover {
  cursor: pointer;
}

.product-menu .menu-sec .menu .arrow {
  transition: 0.3s;
}

.product-menu .menu-sec ul {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.product-menu .menu-sec .menu {
  border-bottom: 0px solid rgba(128, 128, 128, 0.308);
  /* border-right: 1px solid rgba(128, 128, 128, 0.308); */
  transition-delay: 0.3s;
}

.product-menu .menu-sec .menu.selected {
  border-bottom: 1px solid rgba(128, 128, 128, 0.308);
  transition-delay: 0s;
}

.product-menu .menu-sec .menu.selected ~ ul {
  height: var(--height);
  overflow: hidden;
  visibility: visible;
  transition: 0.3s ease-in-out;
}

.product-menu .menu-sec .menu.selected .arrow {
  transform: rotate(90deg);
  transition: 0.3s;
}

.product-menu .menu-sec .submenu li.selected {
  border-left: 4px solid rgba(63, 84, 133, 1);
  border-top: 1px solid rgba(128, 128, 128, 0.308);
  border-bottom: 1px solid rgba(128, 128, 128, 0.308);
  border-right: none;
  position: relative;
}

.product-menu .menu-sec .submenu li.selecred:before {
  content: "";
  position: absolute;
  display: block;
  right: -189px;
  bottom: -44px;
  width: 12px;
  height: 12px;
  border-right: 1px solid rgba(128, 128, 128, 0.308);
  background-color: red;
}

/*! Ckeditor */

textarea {
  scrollbar-width: thin;
  resize: none;
  width: 100%;
  min-height: 200px;
  border-radius: 5px;
  padding: 5px;
}

textarea:focus {
  border-color: #f74e0b7c;
}

.ck-editor__editable {
  min-height: 200px;
  max-height: 200px;
}

.ck-editor__editable p {
  padding-bottom: 5px;
  margin: 0;
}

/* product image section */

#images .thumbnail {
  height: 150px;
  width: auto;
  border: 2px dashed #c8cbce;
  margin: 5px 0;
}

#images .thumbnail:hover {
  cursor: pointer;
}

#images .jFiler-input-dragDrop {
  width: 100%;
}

#add-color {
  height: 45px;
  width: 136px;
  white-space: nowrap;
}

#options .option {
  border: 1px solid rgba(128, 128, 128, 0.185);
  border-radius: 5px;
  margin-bottom: 10px;
  height: 46px;
  overflow: hidden;
}

#options .option .option-head {
  padding: 12px 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.185);
  background-color: rgb(26, 188, 156);
  color: white;
}

#option .option .row {
  padding: 0 15px;
}

.notification-sec {
  position: absolute;
  right: 65px;
  top: 43.5px;
  display: none;
  z-index: 1000;
}

.message-sec {
  position: absolute;
  right: 30px;
  top: 44px;
  display: none;
}

.profile-sec {
  position: absolute;
  right: 10px;
  top: 44px;
  display: none;
}

.notification:hover .notification-sec {
  display: block;
}

#options .option.selected {
  height: auto;
  overflow: hidden;
}

#options .option .option-head:hover {
  cursor: pointer;
}

#options .option.selected .option-head .fa {
  transform: rotate(90deg);
}

.bootstrap-tagsinput {
  width: 100% !important;
}

#color-pick {
  width: 40px;
  height: 40px;
  border: none;
}
